.contactUs {
    width: 100%;
}

.heroSection {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
}

.heroBackgroundImageWeb {
    height: 100%;
    width: 100%;
}

.heroBackgroundImageMobile {
    display: none;
    height: 100%;
    width: 100%;
}

.contactUsContent {
    display: flex;
    flex-direction: row;
    gap: var(--gap-75xs);
    position: absolute;
    top: 67px;
    left: 100px;
    right: 101px;
    max-width: 1166px;
}

.contactContentLeft {
    width: 50%;
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-14xl);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contactUsTitle {
    font-family: var(--font-playfair-display);
    font-size: var(--font-size-53xl);
    font-weight: 600;
    line-height: 82px;
    text-align: left;
    color: var(--support-white);
    margin-bottom: var(--gap-21xl);
}

.contactUsDetails {
    display: flex;
    flex-direction: column;
    gap: var(--padding-xs);
    font-family: var(--font-montserrat);
    font-size: var(--font-size-xl);
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    color: var(--support-white);
    margin-top: 24px;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    gap: var(--gap-5xs);
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
}

.contactImg {
    height: 24px;
    width: 24px;
}

.otherServiceTitle {
    font-family: var(--font-playfair-display);
    font-size: var(--font-size-5xl);
    font-weight: 600;
    line-height: 31.99px;
    text-align: left;
    color: var(--primary-red);
}

.otherServices {
    padding: var(--padding-61xl) var(--gap-81xl) var(--gap-81xl) var(--gap-81xl);
    display: flex;
    flex-direction: column;
    gap: var(--gap-13xl);
    max-width: 1166px;
    margin: 0 auto;
}

.accordianList {
    margin: 0px;
    padding: 0px;
}

.contactInfo:last-child {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    padding-top: var(--padding-xs);
    padding-bottom: var(--padding-xs);
    border-radius: var(--br-7xs);
    background: var(--color-background);
}

.containerClassName {
    border: none !important;
    box-shadow: var(--card-shadow);
    padding-left: var(--padding-35xl) !important;
    padding-right: var(--padding-35xl) !important;
    padding-bottom: var(--padding-5xl) !important;
}

.headingStyles {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: var(--font-size-xl);
    line-height: 26px;
    color: var(--text-black);
}

@media screen and (max-width:1366px) {
    .heroSection {
        max-height: 675px;
        height: 100%;
    }

    .contactUsContent {
        bottom: 80px;
    }

  
}

@media screen and (max-width:1365px) {
    .contactUsContent {
        top: 40px;
        left: 80px;
        right: 80px;
        gap: var(--gap-5xl);
        bottom: 80px;
    }

}

@media screen and (max-width:1200px) {
    .contactUsTitle {
        font-size: var(--font-size-52xs);
        line-height: 62px;
        margin-bottom: 35px;
    }

    .contactUsDetails {
        font-size: var(--font-size-lg);
        line-height: 22px;
    }

    .otherServiceTitle {
        font-size: var(--font-size-3xl);
    }

    .contactUsContent {
        top: 30px;
        right: -35px;
        bottom: 30px;
    }
}

@media screen and (max-width:1024px) {
    .contactUsTitle {
        font-size: var(--font-size-29xl);
        line-height: 52px;
        margin-bottom: 25px;
    }

    .contactUsDetails {
        font-size: var(--font-size-16);
        line-height: 22px;
    }

    .contactUsContent {
        right: 0px;
        top: 35px
    }

    .contactContentLeft {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-xl);
    }

    .headingStyles {
        font-size: var(--font-size-lg);
    }
}

@media screen and (max-width:1000px) {
    .contactUsTitle {
        font-size: var(--font-size-36xs);
        line-height: 42px;
        margin-bottom: 20px;
    }

    .contactUsDetails {
        font-size: var(--font-size-base);
        line-height: 22px;
    }

    .contactUsContent {
        right: 0px;
        top: 10px;
        bottom: 20px;
    }

    .contactContentLeft {
        padding-top: var(--padding-lg);
        padding-bottom: var(--padding-lg);
    }

    .headingStyles {
        font-size: var(--font-size-lg);
    }
}

@media screen and (max-width:880px) {
    .contactUsContent {
        top: 5px;
        bottom: 20px;
    }

    .contactContentLeft {
        padding-top: var(--padding-sm);
        padding-bottom: var(--padding-sm);
    }

    .contactUsTitle {
        font-size: var(--font-size-9xl);
        margin-bottom: 18px;
    }

    .contactUsDetails {
        font-size: var(--font-size-sm);
    }

    .contactImg {
        height: 20px;
        width: 20px;
    }

    .contactInfo:last-child {
        padding-left: var(--padding-xs);
        padding-right: var(--padding-xs);
        padding-top: var(--padding-5xs);
        padding-bottom: var(--padding-5xs);
    }
}

@media screen and (max-width:800px) {
    .contactUsContent {
        left: 55px;
    }

    .heroBackgroundImageWeb {
        height: 450px;
    }
}

@media screen and (max-width:650px) {
    .contactUsContent {
        right: 20px;
        top: 15px;
        left: 20px;
    }

    .heroBackgroundImageWeb {
        height: 450px;
    }
}

@media screen and (max-width: 599px) {
    .heroSection {
        max-height: none;
    }

    .heroBackgroundImageWeb {
        display: none;
    }

    .heroBackgroundImageMobile {
        display: block;
        height: 940px;
    }

    .contactUsContent {
        display: flex;
        flex-direction: column;
        top: 40px;
        left: 24px;
        right: 24px;
        gap: var(--gap-3xs);
    }

    .contactContentLeft {
        width: 100%;
    }

    .contactUsTitle {
        font-Size: var(--font-size-27xl);
        line-height: 61.32px;
    }

    .contactUsDetails {
        width: 100%;
        font-Size: var(--font-size-base);
        line-height: 26px;
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        font-size: var(--font-size-sm);
        line-height: 26px;
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
    }

    .contactImg {
        height: 20px;
        width: 20px;
    }

    .otherServices {
        padding: var(--padding-41xl) var(--padding-5xl) var(--padding-41xl) var(--padding-5xl);
    }

    .contactInfo:last-child {
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
        padding-top: var(--padding-xs);
        padding-bottom: var(--padding-xs);
        border-radius: var(--br-7xs);
        background: var(--color-background);
    }
}

@media screen and (max-width:430px) {
    .heroBackgroundImageMobile {
        height: 980px;
    }

    .contactUsContent {
        top: 20px
    }
}

@media screen and (max-width:360px) {
    .heroSection {
        max-height: none;
    }

    .heroBackgroundImageWeb {
        display: none;
    }

    .heroBackgroundImageMobile {
        display: block;
        height: 100%;
    }

    .contactUsContent {
        display: flex;
        flex-direction: column;
        top: 45px;
        left: 24px;
        right: 24px;
        gap: var(--gap-5xl);
    }

    .contactContentLeft {
        width: 100%;
        padding: 0px;
    }

    .contactUsTitle {
        font-Size: var(--font-size-27xl);
        line-height: 61.32px;
    }

    .contactUsDetails {
        width: 100%;
        font-Size: var(--font-size-base);
        line-height: 26px;
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        font-size: var(--font-size-sm);
        line-height: 26px;
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
    }

    .contactImg {
        height: 20px;
        width: 20px;
    }

    .otherServices {
        padding: var(--padding-41xl) var(--padding-5xl) var(--padding-41xl) var(--padding-5xl);
    }

    .contactInfo:last-child {
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
        padding-top: var(--padding-xs);
        padding-bottom: var(--padding-xs);
        border-radius: var(--br-7xs);
        background: var(--color-background);
    }

}