.siteMap {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.siteMapContainer {
  display: flex;
  flex-direction: column;
  max-width: 1163px;
  justify-content: center;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-83xl) var(--padding-158) var(--padding-101);
}

.siteMapTitle {
  text-align: center;
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-27xl);
  font-weight: 600;
  line-height: 61.32px;
  padding-bottom: var(--padding-21xl);
  margin: 0;
}

.siteMapContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 953px;
  gap: var(--gap-11xl) 4vw;
}

.siteMapItem {
  display: flex;
}

.siteMapList {
  margin: 0;
  padding-left: var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xs);
}

.listItem {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  margin-bottom: 5px;
  color: var(--text-grey-body-text);
}

.listItemlink {
  color: var(--text-grey-body-text);
}

.listItemlink:hover {
  color: var(--primary-red);
}

.listItem::marker {
  color: var(--primary-red);
}

.listItemSubLink {
  margin: 0;
  margin-left: -18px;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: var(--text-grey-body-text);
}

.listItemSubLink:hover {
  color: var(--primary-red);
}

@media screen and (max-width: 1260px) {
  .siteMapContent {
    gap: var(--gap-11xl);
  }
}

@media screen and (max-width: 1220px) {
  .siteMapContent {
    gap: var(--gap-11xl) var(--gap-xl);
    height: 1265px;
  }
}

@media screen and (max-width: 1023px) {
  .siteMapContainer {
    padding: var(--padding-31xl) var(--padding-21xl) var(--padding-81xl);
  }

  .siteMapTitle {
    font-size: var(--font-size-19xl);
    line-height: 52px;
    padding-bottom: var(--padding-13xl);
  }

  .siteMapContent {
    height: 1810px;
  }
}

@media screen and (max-width: 649px) {
  .siteMapContainer {
    padding: var(--padding-11xl) var(--padding-21xl) var(--padding-95);
  }

  .siteMapTitle {
    font-size: var(--font-size-13xl);
    line-height: 42px;
    padding-bottom: var(--padding-5xl);
  }
  
  .siteMapContent {
    height: 100%;
  }
}