.heroSection {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 100;
}

.heroBackgroundImageWeb {
  height: 100%;
  width: 100%;
}

.heroBackgroundImageMobile {
  display: none;
  height: 100%;
  width: 100%;
}

.careers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  box-sizing: border-box;
}
.requirement,
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
}
.heroBackgroundImageWeb,
.heroBackgroundImageMobile {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heroBackgroundImageMobile {
  display: none;
}
.heroSectionContent {
  position: absolute;
  top: 10.5vw;
  left: 7.3vw;
  display: flex;
  flex-direction: column;
  mix-blend-mode: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.heroTitle {
  font-size: inherit;
  line-height: 92px;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.heroSubtitle {
  margin-top: 10px;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}
.requirement {
  max-width: 1366px;
  margin: 0 auto;
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl);
  gap: var(--gap-base);
  background-color: var(--support-grey-bg);
}
.requirementTitle {
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  line-height: 26px;
  color: var(--primary-red);
}
.rowClass{
  font-family: var(--font-montserrat) !important;
}
.rowClass:hover {
  background-color: var(--color-whitesmoke);
}
@media screen and (max-width: 1023px) {
  .heroSectionContent {
    width: 275px;
    top: 22vw;
    left: 7.3vw;
  }
  .heroTitle {
    font-size: var(--font-size-39xl);
    line-height: 68px;
  }
  .heroSubtitle {
    margin-top: 13px;
    font-size: var(--font-size-lgi);
    line-height: 28px;
  }
  .requirement {
    padding: var(--padding-70xl) var(--padding-17xl);
  }
  .requirementTitle {
    font-size: var(--font-size-3xl);
  }
}
@media screen and (max-width: 720px) {
  .heroBackgroundImageWeb {
    display: none;
  }
  .heroBackgroundImageMobile {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .heroSectionContent {
    width: 237px;
    top: 35.4vw;
    left: 6.4vw;
  }
  .heroTitle {
    font-size: var(--font-size-42xl);
    line-height: 56px;
  }
  .heroSubtitle {
    margin-top: 16px;
    font-size: var(--font-size-xl);
    line-height: 26px;
  }
  .requirement {
    padding: var(--padding-41xl) var(--padding-xl);
  }
  .requirementTitle {
    font-size: var(--font-size-xl);
  }
}
