.listItems {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.listItems::marker {
  color: #cd342b;
}
.listItems{
  list-style-type: disc;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
