.tableContainer {
  width: 100%;
}
.bgIcon,
.bgIconMobile {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.bgIconMobile {
  display: none;
}
.logisticContactsHero {
  overflow: hidden;
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.tableSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl)
    var(--padding-81xl);
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.title {
  margin: 0;
  position: relative;
  font-weight: 600;
  font-size: var(--font-size-5xl);
  line-height: 26px;
  font-family: var(--font-playfair-display);
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
  text-align: left;
}
.tsrtcLogoIcon {
  position: relative;
  object-fit: contain;
}
.busDust {
  width: 128px;
  height: 780px;
  display: none;
  z-index: 4;
}
.tsrtcLogoIcon {
  height: 70.4px;
  width: 70.4px;
}
.icon {
  width: 289.1px;
  height: 24.4px;
  position: relative;
}
.telanganaStateRoadTransport {
  align-self: stretch;
  height: 11.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tsrtcLogo,
.tsrtcLogo1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs-4);
  max-width: 100%;
}
.tsrtcLogo1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-9);
}
.tsrtcLogo {
  width: 504px;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.reservations {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}

.bgIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bgIconMobile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.logisticsContentWrapper {
  display: flex;
  flex-direction: column;
  top: 7.3vw;
  left: 7.3vw;
  gap: var(--gap-3xs);
  max-width: 599px;
  position: absolute;
}

.heroTitleStyles {
  margin: 0;
  font-size: var(--font-size-53xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  mix-blend-mode: normal;
  line-height: 82px;
}

.heroSubTitleStyles {
  position: relative;
  margin: 0;
  mix-blend-mode: normal;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  max-width: 100%;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .bgIcon {
    display: none;
  }

  .bgIconMobile {
    display: flex;
  }

  .logisticRatesAndContainer {
    font-size: var(--font-size-39xl);
    line-height: 66px;
  }
  .logisticContactsHero {
    padding: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1023px) {
  .tourismContentWrapper {
    top: 12vw;
    left: 7vw;
  }

  .heroTitleStyles {
    font-size: var(--font-size-39xl);
    line-height: 68px;
  }

  .heroSubTitleStyles {
    font-size: var(--font-size-lgi);
    line-height: 28px;
  }
}
@media screen and (max-width: 750px) {
  .heroTitleStyles {
    font-size: var(--font-size-42xl);
    line-height: 56px;
  }

  .heroSubTitleStyles {
    font-size: var(--font-size-xl);
    line-height: 26px;
  }
  .title {
    font-size: var(--font-size-base);
  }
}

@media screen and (max-width: 450px) {
  .logisticsContentWrapper {
    top: 210.57px;
    left: 23px;
    gap: var(--gap-base);
    max-width: 237px;
    position: absolute;
  }
  .heroTitleStyles {
    font-size: var(--font-size-42xl);
    line-height: 56px;
  }
  .heroSubTitleStyles {
    font-size: var(--font-size-base);
    line-height: 26px;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 52px;
  }

  .logisticContactsHero {
    box-sizing: border-box;
  }
  .tableSection {
    padding: var(--padding-5xl) var(--padding-5xl) var(--padding-41xl)
      var(--padding-5xl);
    gap: var(--gap-base);
    text-align: left;
  }
}
