.monthlySeasonTicketsTexts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px var(--padding-61xl) 0px var(--padding-61xl);
  gap: var(--gap-5xl);
  box-sizing: border-box;
}

.monthlySeasonTickets {
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  line-height: 31.99px;
  text-align: left;
  color: var(--primary-red);

}

.monthlySeasonTicketsSubCon {
  border: 1px solid rgba(198, 198, 198, 1);
  border-radius: 6px;
  padding: var(--padding-21xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-13xl);
  box-sizing: border-box;

}

.phylosophyList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--gap-5xs);
}

.listItemContent {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--text-grey-body-text);
}


.dots {
  width: 6px;
  height: 6px;
  margin-top: 9.5px;
  border-radius: 50%;
  background-color: var(--primary-red);
}

.valueAdditionGivenToMstHo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.valueAdditionGiven {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: var(--text-black);
}

@media screen and (max-width:840px) {
  .monthlySeasonTicketsTexts {
    padding: 0px var(--padding-21xl) 0px var(--padding-21xl);
  }

}

@media screen and (max-width:599px) {

  .monthlySeasonTicketsTexts {
    padding: 0px var(--padding-xl) 0px var(--padding-xl);


    gap: var(--gap-base)
  }

  .monthlySeasonTickets {
    font-family: var(--font-playfair-display);
    font-size: var(--font-size-5xl);
    font-weight: 600;
    line-height: 31.99px;
    text-align: left;

  }

  .listItemContent {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 100%
  }

  .monthlySeasonTicketsSubCon {
    padding: var(--gap-base);
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .phylosophyList {
    gap: var(--gap-xs)
  }
}