.bgIcon,
.bgIconMobile {
  height: auto;
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.bgIconMobile {
  display: none;
}

.commuterPass {
  margin: 0;
}

.general {
  font-size: var(--font-size-53xl);
  line-height: 92px;
  font-weight: 600;
  font-family: inherit;
}

.general,
.applyRenew,
.generalCommuterPassContainer {
  margin: 0;
  font-size: inherit;
  line-height: 92px;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}

.generalCommuterPassContainer {
  position: absolute;
  top: 21.37vw;
  left: 12.88vw;
  display: flex;
  flex-direction: column;
}

.applyRenew {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  margin-top: 10px;
  font-family: var(--font-montserrat);
}

.eachAccordian {
  width: 100%;
  padding: 0px;
}

.knowMoreAboutContainer {
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  display: flex;
  gap: var(--gap-5xs);
  font-family: var(--font-playfair-display);
  margin: 0px;
  margin-bottom: 26px;
}

.orderedList {
  padding: 0px;
}

.busPassGeneralCommuterPass2 {
  background-color: var(--support-grey-bg);
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  width: 100%;
}

.busPassGeneralCommuterPass,
.busPassesHeroGeneralCommut {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.busPassesHeroGeneralCommut {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
}

.busPassGeneralCommuterPass {
  width: 100%;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1023px) {
  .generalCommuterPassContainer {
    font-size: var(--font-size-39xl);
    line-height: 74px;
  }

  .busPassesHeroGeneralCommut {
    box-sizing: border-box;
  }

  .busPassGeneralCommuterPass2 {
    padding: 0 var(--padding-5xl) var(--padding-60) var(--padding-5xl);
  }
}

@media screen and (max-width: 750px) {

  .generalCommuterPassContainer {
    max-width: 185px;
    top: 54.72vw;
    left: 6.3vw;
  }

  .bgIcon {
    display: none;
  }

  .general {
    font-size: 42px;
    line-height: 55px;
  }

  .bgIconMobile {
    display: block;
  }

  .generalCommuterPassContainer {
    font-size: var(--font-size-24xl);
    line-height: 55px;
  }

  .applyRenew {
    font-size: var(--font-size-16);
    line-height: 26px;
  }

  .knowMoreAboutContainer {
    font-size: var(--font-size-xl);
  }

  .busPassesHeroGeneralCommut {
    box-sizing: border-box;
  }

  .busPassGeneralCommuterPass2 {
    padding: 128px var(--padding-5xl) var(--padding-60) var(--padding-5xl);
  }
}

@media screen and (min-width: 1920px) {
  .eachAccordian {
    max-width: 1920px;
    margin: auto;
  }

  .knowMoreAboutStudentPassesWrapper {
    max-width: 1920px;
    margin: auto;
  }
}