.bgIcon {
  height: auto;
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.commuterPass {
  margin: 0;
}
.general {
  font-size: var(--font-size-53xl);
  line-height: 92px;
  font-weight: 600;
  font-family: inherit;
}
.general,
.applyRenew,
.generalCommuterPassContainer {
  margin: 0;
  font-size: inherit;
  line-height: 92px;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}
.generalCommuterPassContainer {
  width: 550px;
  position: absolute;
  top: 16.4vw;
  left: 8.2vw;
  display: flex;
  flex-direction: column;
}
.applyRenew {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  margin-top: 10px;
  font-family: var(--font-montserrat);
}
.eachAccordian {
  width: 100%;
  padding: 0px;
}
.knowMoreAboutContainer {
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.orderedList {
  padding: 0px;
}
.busPassGeneralCommuterPass2 {
  background-color: var(--support-grey-bg);
  padding: 100px 80px 100px 100px;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  width: 100%;
}
.busPassGeneralCommuterPass,
.busPassesHeroGeneralCommut {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.busPassesHeroGeneralCommut {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
}
.busPassGeneralCommuterPass {
  width: 100%;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1023px) {
  .generalCommuterPassContainer {
    font-size: var(--font-size-39xl);
    line-height: 74px;
  }
  .busPassesHeroGeneralCommut {
    padding: 146px var(--padding-37xl);
    box-sizing: border-box;
  }
  .busPassGeneralCommuterPass2 {
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 599px) {
  .generalCommuterPassContainer {
    font-size: var(--font-size-24xl);
    line-height: 55px;
  }
  .applyRenew {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .busPassesHeroGeneralCommut {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .busPassGeneralCommuterPass2 {
    padding: 0 24px 0 24px;
  }
}
