.reservationDetailsOfReserva,
.tableTitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.reservationDetailsOfReserva {
  background-color: var(--support-grey-bg);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  min-height: 499px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}

.tablehead {
  padding-right: 0 !important;
  padding-left: var(--padding-3xs) !important;
}

.title {
  margin: 0;
  font-size: var(--font-size-5xl);
  line-height: 26px;
  font-family: inherit;
  mix-blend-mode: normal;
}

.tableTitle {
  width: 1166px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.tableRow {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .reservationDetailsOfReserva {
    gap: var(--gap-31xl);
    padding: 0 var(--padding-17xl) var(--padding-41xl);
  }
}

@media screen and (max-width: 599px) {
  .title {
    font-size: var(--font-size-xl);
    line-height: 21px;
    font-weight: 600;
  }

  .reservationDetailsOfReserva {
    gap: var(--gap-6xl);
    padding: 0 var(--padding-xl) var(--padding-41xl);
  }

  .tableTitle {
    margin-top: 0;
  }
}