.aboutVisionLegacy {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-53xl);
  font-family: var(--font-playfair-display);
}
.aboutHero {
  width: 100%;
  align-self: stretch;
  height: 675px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.aboutHeroWebsite {
  position: absolute;
  top: -39px;
  left: 0px;
  width: 100%;
  height: 752px;
  object-fit: contain;
  display: block;
}
.aboutHeroMobile{
  position: absolute;
  width: 100%;
  height: 458px;
  max-width: 360px;
  object-fit: contain;
  display: none;
}

.visionLegacyContainer {
  margin: 0;
  position: absolute;
  top: 246px;
  left: 100px;
  font-size: var(--font-size-53xl);
  line-height: 92px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.legacy,
.vision {
  margin: 0;
}
.mobileDescription{
  left: 23px;
  margin-top: 16px;
  font-size: var( --font-size-bas);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color:var(--support-white);
  display: none;
  flex-direction: column;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.aboutVision,
.lineSeparatorIcon {
  align-self: stretch;
  max-width: 100%;
}

.aboutVision {
  background-color: var(--support-grey-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  z-index: 1;
  position: relative;
}

.texts,
.visionConatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.texts {
  max-width: 907px;
  width: 100%;
  gap: var(--gap-13xl);
}

.visionConatiner {
  height: 363px;
  width: 100%;
  border-radius: var(--br-base);
  background-color: var(--support-white);
  padding: var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
}
.titleAndLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.busDustWebsite {
  width: 128px;
  height: 632px;
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: blobk;
  z-index: 4;
  align-self: flex-start;
  top: 0;
  left: 0;
}
.busDustMobile{
  display: none;
  height: 128px;
  width: 100%;
}
.vision1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-27xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  padding-right: 48.47px;
  line-height: 61.32px;
  color: var(--primary-red);
}

.headingUnderline {
  height: 1px;
  background-color: var(--primary-red);
  width: 100%;
}

.tgsrtcIsCommittedContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-grey-body-text);
}

.preEminenceInThe,
.tgsrtcIsCommitted {
  display: block;
}

.redLineIcon {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}

.philosophyAndGuidelines {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-left: 60px;

}

.philosophy,
.guidelines {
  display: flex;
  flex-wrap: wrap;
  gap: 16px
}

.horzontalDivider {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #000000 0%, #FFFFFF 100%);
}

.philosophyHeading,
.guidelinesHeading {
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  font-weight: 600;
  color: var(--text-black);
  line-height: 29.26px;
}

.phylosophyList,
.guidelinesList {
  font-size: var(--font-size-base);
  font-weight: 400;
  font-family: var(--font-montserrat);
  color: var(--text-grey-body-text);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  line-height: 26px;
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.dots {
  width: 6px;
  height: 6px;
  margin-top: 9px;
  border-radius: 50%;
  background-color: var(--primary-red);
}
.listItemContent{
  display: flex;
  width: 100%;
}
.legacyLetter {
  width: 100%;
  object-fit: cover;
}
.legacyLetterMobile{
  width: 100%;
  object-fit: cover;
  display: none;
}
@media screen and (max-width:1365px) {
  .aboutHeroWebsite {
    object-fit: cover;
  }
}
@media screen and (max-width: 1024px) {

  .aboutHeroWebsite {
    object-fit: cover;
  }

  .visionLegacyContainer {
    font-size: var(--font-size-39xl);
  }
  .vision1 {
    font-size: var( --font-size-36xs);
    line-height: 40.5px;
  }
  .tgsrtcIsCommittedContainer {
    font-size: var(--font-size-xl);
  }
}
@media screen and (max-width: 835px) {
  .aboutHeroWebsite {
    object-fit: cover;
  }
  .visionLegacyContainer {
    top: 260px;
    font-size: var(--font-size-36xs);
    line-height: 40px;
  }
  .aboutVision
  {
    padding: 84px;
  }
  .vision1 {
    font-size: var(--font-size-9xl);
    line-height: 40.5px;
    padding-right: 30px;

  }
  .tgsrtcIsCommittedContainer {
    font-size: var(--gap-base);
  }
  .philosophyAndGuidelines{
  gap:40px;

  }
  .philosophyHeading,
.guidelinesHeading {
  font-size: var(--gap-xl);
}
.phylosophyList,
.guidelinesList {
  font-size: var(--font-size-xs);
}
}

@media screen and (max-width: 730px) {
  .aboutHeroWebsite {
    object-fit: cover;
  }
  .visionLegacyContainer {
    font-size: var(--font-size-13xl);
    line-height: 40px;
    top: 300px;
  }
  .philosophyAndGuidelines{
    gap:30px;
  }
  .aboutVision
  {
    padding: 84px;
  }
  .visionConatiner{
    padding: 40px;
  }
  .vision1 {
    font-size:var(--font-size-9xl);
    line-height: 40.5px;
    padding-right: 20px;

  }
  .tgsrtcIsCommittedContainer {
    font-size: var(--font-size-sm);
  }
  .philosophyAndGuidelines{
  gap:40px;
padding-left: 40px;
  }
  .philosophyHeading,
.guidelinesHeading {
  font-size: var(--font-size-lg);
}
.phylosophyList,
.guidelinesList {
  font-size: var(--font-size-sm);
}
}
@media screen and (max-width: 600px) {
  .aboutHeroWebsite {
    object-fit: cover;
  }
  .visionLegacyContainer {
    top: 330px;
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .philosophyAndGuidelines{
    gap:30px;
    padding-left: 30px;
  }
  .aboutVision
  {
    padding: 84px;
  }
  .visionConatiner{
    padding: 30px;
  }
  .vision1 {
    font-size: var(--font-size-9xl);
    line-height: 40.5px;
    padding-right: 15px;
  }
  .tgsrtcIsCommittedContainer {
    font-size: var(--font-size-sm);
  }
  .philosophyAndGuidelines{
  gap:40px;

  }
  .philosophyHeading,
.guidelinesHeading {
  font-size: var(--font-size-lg);
}
.phylosophyList,
.guidelinesList {
  font-size: var(--font-size-sm);
}
}
@media screen and (max-width: 540px) {

  .aboutHero {
    height: 458px;
    max-width:540px;
    width: 100%;

  }
    .aboutVisionLegacy{
      max-width: 540px;
      font-size: var(--font-size-5xl);
    line-height: 32px;
    }
  .aboutHeroWebsite{
    display: none;
  }
  .aboutHeroMobile{
    max-width: 540px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .visionLegacyContainer{
    top: 211px;
    left: 23px;
    font-size: var(--font-size-42xs);
    line-height: 55.99px;
  }
  .busDustWebsite{
    display: none;
  }
  .busDustMobile{
    display: block;
    height: 128px;
    width: 100%;
  }
  .mobileDescription{
  display: block;
  font-size: 14px;
  }
  .aboutVision {
    padding: 0px;
  
  }
  .visionConatiner {
  padding: 20px;
  max-width: 480px;
  width: 100%;
  height: auto;
  }
  .texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  max-width: 480px;
  width: 100%;
  }
  .headingUnderline{
    display: none;
  }
  .vision1{
    display: flex;
    align-items: center;
    font-size: var(--font-size-13xl);
    line-height: 26px;
    font-weight: 600;
    font-family: var(--font-playfair-display);
    padding-right: 0px;
  }
  
  .aboutVision{
    gap:0px
  }
  .tgsrtcIsCommittedContainer{
    font-size: var(--font-size-base);
    line-height: 26px;
   text-align: center;
  
  }
  .tgsrtcIsCommitted{
    display: flex;
  }
  .philosophyAndGuidelines {
  margin-top: 40px;
  padding-left: 0px;
  margin-left: 24px;
  margin-right: 24px;
  gap:40px
  }
  .philosophy,
  .guidelines {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .philosophyHeading{
    font-size: var(--font-size-sm);
    line-height: 26px;
    
  
  }
  .guidelinesHeading {
    font-size: var(--font-size-base);
    line-height: 26px;
  }
  .phylosophyList,
  .guidelinesList {
    font-size: var(--font-size-sm);
    line-height: 26px;
    gap: 12px;
  
  }
  .legacyLetter{
    display: none;
  }
  .legacyLetterMobile{
    display: block;
  }
  .legacyLetterContainer{
    margin-left: 24px;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  }
@media screen and (max-width: 360px) {
.aboutHero {
  height: 458px;
}
  .aboutVisionLegacy{
    width: 320px;
  }
.aboutHeroWebsite{
  display: none;
}
.aboutHeroMobile{
  display: block;
}
.visionLegacyContainer{
  top: 211px;
  left: 23px;
  font-size: var(--font-size-42xs);
  line-height: 55.99px;
}
.busDustWebsite{
  display: none;
}
.busDustMobile{
  display: block;
  height: 128px;
  width: 100%;
}
.mobileDescription{
display: block;
}
.aboutVision {
  padding: 0px;

}
.visionConatiner {
padding: 20px;
width: 312px;
height: auto;
}
.texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
max-width: 312px;
width: 100%;
}
.headingUnderline{
  display: none;
}
.vision1{
  display: flex;
  align-items: center;
  font-size: var(--font-size-13xl);
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  padding-right: 0px;
}

.aboutVision{
  gap:0px
}
.tgsrtcIsCommittedContainer{
  font-size: var(--font-size-base);
  line-height: 26px;
 text-align: center;

}
.tgsrtcIsCommitted{
  display: flex;
}
.philosophyAndGuidelines {
margin-top: 40px;
padding-left: 0px;
margin-left: 24px;
margin-right: 24px;
gap:40px
}
.philosophy,
.guidelines {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.philosophyHeading{
  font-size: var(--font-size-sm);
  line-height: 26px;
  

}
.guidelinesHeading {
  font-size: var(--font-size-base);
  line-height: 26px;
}
.phylosophyList,
.guidelinesList {
  font-size:  var(--font-size-sm);
  line-height: 26px;
  gap: 12px;

}
.legacyLetter{
  display: none;
}
.legacyLetterMobile{
  display: block;
}
.legacyLetterContainer{
  margin-left: 24px;
  margin-right: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
}
}

.lineSeparatorIcon {
  position: relative;
  overflow: clip;
  max-height: unset;
}

.lineSeparater {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.copyright2021Tgsrtc {
  position: relative;
  line-height: 21px;
}

.copyright2021TgsrtcAllRWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.aboutVisionLegacy,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--support-white);
}

.footer {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  font-size: var(--font-size-xs);
  font-family: var(--font-montserrat);
}






