.projectProposed {
    padding: var(--gap-81xl);
    margin: 0 auto;
    max-width: 1166px;
}

.lineSeperator {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--color-black), transparent)
}

.projectProposedHeading {
    font-family: var(--font-playfair-display);
    font-size: var(--font-size-21xl);
    font-weight: 500;
    line-height: 53.32px;
    text-align: left;
    color: var(--text-black);
    margin-bottom: 32px;
}

.heading {
    font-family: var(--font-playfair-display);
    font-size: var(--font-size-5xl);
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: var(--primary-red);
    margin-bottom: 16px;
}

.content {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-base);
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: var(--text-grey-body-text);
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
}

.listHeading {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-base);
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: var(--text-black);
    margin-bottom: 16px;
}

.list {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: var(--text-grey-body-text);

}
.listStyles {
    margin: 0px;
    padding: 0px;
    padding-left: var(--padding-3xs);
    padding-top: 0px;
}
.listContainer{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap:var(--gap-5xl);
}
@media screen and (max-width:1024px) {
    .heroSectionContent{
        top:90px;
    }
    .heroTitle{
        font-size: var(--font-size-19xl);
        line-height: 45.99px;
    }
    .introHeading{
        font-size: var(--font-size-42xl);
    }
    .introContent{
        font-size: var(--font-size-xl);
    }
    .introduction{
        padding: var(--padding-61xl);
    }
}

@media screen and (max-width:599px) {
    .projectProposed{
        padding: var(--padding-41xl) var(--padding-xl) var(--padding-41xl) var(--padding-xl);
    }
    .heading{
        margin-bottom: 8px;
    }
    .lineSeperator{
        margin: 40px 0;
    }
    .projectProposedHeading{
        font-size: var(--font-size-13xl);
        line-height: 40px;
    }
}
