.container {
  width: calc(100% - 203px);
  padding: var(--padding-81xl);
  background-color: #f2f2f2;
  /* overflow: scroll; */
}

.innerContainer {
  max-width: 1166px;
  margin: 0px auto;
  display: flex;
  gap: var(--gap-21xl);
  justify-content: center;
}

.tendersTab {
  background-color: var(--support-white);
  padding: var(--padding-5xl);
  display: flex;
  gap: var(--gap-base);
  flex-direction: column;
  min-width: 291px;
  height: fit-content;
  border-radius: 4px;
}

.tenderText {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-16);
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  cursor: pointer;
  margin: 0px;
  padding-bottom: var(--padding-xs);
}

.selected {
  color: var(--primary-red);
  font-weight: 700;
  border-bottom: 4px solid var(--primary-green);
  cursor: pointer;
}

.muiForm {
  display: none;
}

@media screen and (max-width: 1280px) {
  .muiForm {
    display: block;
  }

  .tendersTab {
    display: none;
  }

  .container {
    width: calc(100% - 48px);
    padding: var(--padding-81xl) var(--padding-5xl);
    padding-top: 0;
  }

  .innerContainer {
    flex-direction: column;
    gap: var(--gap-5xs);
  }
}

@media screen and (max-width: 599px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1280px) {
  .container {
    margin-top: 100px;
    width: calc(100% - 200px);
    padding: 0px 100px;
  }
}