.reservationHeroTourism {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
  z-index: 100;
  min-height: 350px;
}

.bgIcon,
.bgIconMobile {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.innerContainer {
  background-color: var(--support-grey-bg);
}

.bgIconMobile {
  display: none;
}

.contentWrapper {
  position: absolute;
  top: 7.5vw;
  left: 7vw;
  display: flex;
  flex-direction: column;
  width: 599px;
}

.tgsrtcIsHappy,
.tourism {
  margin: 0;
  mix-blend-mode: normal;
}

.tourism {
  font-size: var(--font-size-53xl);
  line-height: 82px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  color: VAR(--support-white);
}

.tgsrtcIsHappy {
  margin-top: 10px;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  max-width: 100%;
  width: 599px;
  color: var(--support-white);
}

@media screen and (max-width: 1023px) {
  .contentWrapper {
    top: 15vw;
    left: 7vw;
  }

  .tourism {
    font-size: var(--font-size-39xl);
    line-height: 68px;
  }

  .tgsrtcIsHappy {
    width: 400px;
    font-size: var(--font-size-lgi);
    line-height: 28px;
  }
}

@media screen and (max-width: 720px) {
  .bgIcon {
    display: none;
  }

  .bgIconMobile {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .contentWrapper {
    width: 238px;
    left: 6.6vw;
    top: 70.5vw;
  }

  .tourism {
    font-size: var(--font-size-42xl);
    line-height: 56px;
  }

  .tgsrtcIsHappy {
    width: 237px;
    margin-top: 8px;
    font-size: var(--font-size-16);
    line-height: 26px;
  }
}