.tableContainer{
  width:100%;
  margin-top:24px;
}
.tableHead {
  background-color: var(--primary-green);
  border-radius: 6px;
}
.tableHeadCell {
  color: var(--support-white) !important;
  font-family: var(--font-montserrat) !important;
  font-size: var(--font-size-sm) !important;
  font-weight: 600 !important;
  padding: 10px 20px !important;
}
.oddRow {
  background-color: var(--color-whitesmoke-100);
}
.tableCell {
  font-family: var(--font-montserrat) !important;
  font-size: var(--font-size-sm) !important;
  font-weight: 400;
  line-height: 17.07px !important;
  text-align: left;
  padding: 12px 20px !important;
}
  