.container{
  max-width: 515px !important;
  width: unset !important;
}

.events{
  padding: 100px;
  max-width: 1366px;
  margin: 0 auto;
}
.eventsTitle{
  margin: 0;
  color: var(--primary-red);
font-family: var(--font-playfair-display);
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.eventsContent{
  color: var(--text-grey-body-text);
text-align: center;
font-family: var(--font-montserrat);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
margin: 0 auto;
width: 60.6%;
max-width: 707px;
padding-top: var(--padding-xs);
}
.eventsImagesSection{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1166px;
    margin: 0 auto;
    gap: 40px;
    padding-top: 40px;
}
.heroBannerImageSectionWeb {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
  min-height: 500px;
}
.heroBannerImageSectionMobile {
  display: none;
}
.heroBannerImageWeb {
  width: 100%;
  height: 100%;
}
.heroData {
  position: absolute;
  top: 368px;
  left: 96px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.heroTitle {
  color: var(--support-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-53xl);
  font-style: normal;
  font-weight: 600;
  line-height: 82px;
  margin: 0;
  z-index: 999999;
}
.heroSubTitle {
  color: var(--support-white);
  text-align: left;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}
.quotationSection{
  gap: 24px;
  display: flex;
  flex-direction: column;
  max-width: 1166px;
  margin: 100px auto;  
}
.quotation1 {
  color: var(--text-grey-body-text);
  text-align: center;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}
.quotation2 {
  color: var(--text-black);
  text-align: center;
  font-family: var(--font-playfair-display);
  font-size: var( --font-size-27xl);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .events{
    padding: 60px;
  }
  .heroBannerImageSectionWeb {
    display: none;
  }
  .heroBannerImageSectionMobile {
    display: block;
    width: 100%;
  }
  .heroBannerImageMobile {
    width: 100%;
    height: 100%;
  }
  .heroTitle {
    font-size: var(--font-size-52xs);
    line-height: 60px;
    z-index: unset;
  }
  .heroSubTitle {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .quotationSection{
    padding: 0 var(--padding-21xl);
    margin:60px 0;
  }
  .quotation1{
    font-weight: 500;
  }
}
@media screen and (max-width: 599px) {
  .events{
    padding: 20px 20px 60px 20px;
  }
  .heroBannerImageSectionWeb {
    display: none;
  }
  .heroBannerImageSectionMobile {
    display: block;
  }
  .heroTitle {
    font-size: var(--font-size-42xl);
    line-height: normal;
    z-index: unset;
  }
  .heroSubTitle {
    font-size: var(--font-size-base);
    line-height: 26px;
  }
  .heroData {
    max-width: 237px;
    gap: 16px;
    top: 309px;
    left: 28px;
  }
  .quotationSection{
    width: 89%;
    margin: 60px auto;
    gap: 16px;
    padding: 0 var(--padding-xl);
  }
  .quotation1{
    font-size: var(--font-size-base);
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    width: 87.5%;
    margin: 0 auto;
  }
  .quotation2{
    text-align: center;
    font-size: var(--font-size-13xl);
    font-weight: 700;
    line-height: normal;
  }
  .eventsTitle{
    font-size: var(--font-size-13xl);
  }
  .eventsContent{
    font-size: var(--font-size-sm);
    width: 100% ;
  }
}
