.MuiTabs-root {
    width: 100%;
}
.MuiButtonBase-root{
    flex: 1;
    border: 10px red;
}
/* .MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    flex: 1;
    border: 10px red;
} */