.container {
  width: auto;
  padding: 16px 60px 0px 56px;
  margin: 0;

}
.linkText {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #020202;
  padding: 8px 16px 8px 16px;
  margin: 0;
  background: #f1f8f4;
}
