.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer,
.studentFreeBusPasses {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.studentFreeBusPasses {
  padding-left: var(--padding-8xl);
}
.before6AmContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--support-white);
}
.studentConcessionalRoutePas {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer1 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion1,
.accordionContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.accordion1 {
  box-shadow: 0 4px 10px rgba(232, 232, 232, 0.5);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.accordionContainer {
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .before6AmContainer,
  .before6AmContainer1 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
}
