.bookYourTicket1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.bookYourTicketWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.loremIpsumDolor {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-red-hat-display);
  white-space: pre-wrap;
  text-align: center;
}
.texts,
.textsWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.texts {
  width: 577px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  z-index: 2;
}
.textsWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.illustration22 {
  width: 1906px;
  height: 513px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.shape {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 605px;
  right: -1366px;
  bottom: -605px;
  left: 1366px;
  background: linear-gradient(
    180deg,
    rgba(255, 61, 0, 0.8),
    rgba(222, 53, 0, 0.8)
  );
  transform: rotate(180deg);
  transform-origin: 0 0;
  mix-blend-mode: multiply;
  z-index: 1;
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
}
.intercity {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.cityToCityBus {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--color-mediumseagreen-300);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cityToCityBus:hover {
  background-color: var(--color-mediumseagreen-100);
}
.icons1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.intracity {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.cityToCityBus1 {
  border-radius: var(--br-11xs) var(--br-11xs) 0 0;
  background-color: var(--support-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.searchTabs,
.searchTabsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchTabs {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--support-white);
  overflow: hidden;
  flex-direction: row;
}
.searchTabsContainer {
  flex-direction: column;
}
.date {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-grey-body-text);
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.date,
.div,
.icons2 {
  position: relative;
}
.div {
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.icons2 {
  height: 24px;
  width: 24px;
}
.inputField {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.field {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.today {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 49px;
}
.quickDates {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xs);
}
.tomorrow {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 85px;
}
.quickDates1 {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-2xs);
}
.quickDateSelections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.applyNow {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: center;
  display: inline-block;
  min-width: 97px;
}
.button,
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl-5) var(--padding-5xl) var(--padding-7xl-5);
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  justify-content: center;
  white-space: nowrap;
}
.formContainer {
  flex: 1;
  border-radius: 0 var(--br-80xl) var(--br-80xl) 0;
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-12xs-5) 0 var(--padding-12xs-5) var(--padding-5xl);
  min-width: 402px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.exchangeIcon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.429);
}
.wrapperExchange {
  height: 28px;
  width: 28px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14px);
  left: calc(50% - 323px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formActionFiled {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  row-gap: 20px;
}
.frameInput {
  margin: 0;
  height: 19.5px;
  width: 13px;
}
.iWantTo {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: center;
}
.bookYourTicketForm,
.bookYourTicketFormTabs,
.checkboxField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkboxField {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-5xs);
}
.bookYourTicketForm,
.bookYourTicketFormTabs {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.bookYourTicketForm {
  border-radius: 0 var(--br-base) var(--br-base) var(--br-base);
  background-color: var(--support-white);
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-xs);
  gap: var(--gap-xs);
}
.bookYourTicketFormTabs {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}
.routesYouMay {
  width: 262px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}
.lineIcon {
  flex: 1;
  position: relative;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-width: 582px;
}
.interestedRouteTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.hyderabad {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.icons3 {
  height: 24px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
}
.bangalore {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.routeChips1 {
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: var(--br-7xs);
  background-color: var(--text-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  min-width: 129px;
}
.hyderabad1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.icons4 {
  height: 24px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
}
.bangalore1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.routeChips2 {
  box-shadow: var(--shadow);
  border-radius: var(--br-7xs);
  background-color: var(--text-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.hyderabad2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.icons5 {
  height: 24px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
}
.bangalore2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.routeChips3 {
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: var(--br-7xs);
  background-color: var(--text-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  min-width: 133px;
}
.hyderabad3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.icons6 {
  height: 24px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
}
.bangalore3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 64px;
}
.routeChips4 {
  box-shadow: var(--shadow);
  border-radius: var(--br-7xs);
  background-color: var(--text-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.hyderabad4 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.icons7 {
  height: 24px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
}
.bangalore4 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.routeChips,
.routeChips5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.routeChips5 {
  box-shadow: var(--shadow);
  border-radius: var(--br-7xs);
  background-color: var(--text-black);
  overflow-x: auto;
  padding: var(--padding-5xs) var(--padding-xs);
}
.routeChips {
  width: 991px;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.applyNow1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--primary-green);
  text-align: center;
  display: inline-block;
  min-width: 111px;
}
.button1,
.routeChipsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button1 {
  cursor: pointer;
  border: 1.5px solid var(--primary-green);
  padding: var(--padding-6xs) var(--padding-3xl) var(--padding-5xs);
  background-color: var(--support-white);
  width: 159px;
  border-radius: var(--br-381xl);
  box-sizing: border-box;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: var(--color-gainsboro-100);
  border: 1.5px solid var(--color-mediumseagreen-200);
  box-sizing: border-box;
}
.routeChipsContainer {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-base);
}
.bookYourTicketFormContaine,
.interestedRouteContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.interestedRouteContainer {
  align-self: stretch;
  gap: var(--gap-xs);
}
.bookYourTicketFormContaine {
  margin: 0;
  width: 1166px;
  gap: var(--gap-21xl);
  z-index: 2;
}
.bookYourTicketFormContaineWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-1164xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image709Icon,
.image710Icon,
.image711Icon {
  position: absolute;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.image709Icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image710Icon,
.image711Icon {
  display: none;
}
.image710Icon {
  top: -1695.9px;
  left: 0;
  width: 1540.4px;
  height: 531.5px;
}
.image711Icon {
  top: calc(50% - 1677.9px);
  left: calc(50% - 864.8px);
  width: 1865.9px;
  height: 1080.4px;
}
.bg,
.bookYourTicket {
  flex-shrink: 0;
  position: relative;
}
.bg {
  width: 1616px;
  height: -1103px;
  max-width: 119%;
}
.bookYourTicket {
  align-self: stretch;
  height: 605px;
  background-color: var(--support-white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0 var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1275px) {
  .routeChipsContainer {
    flex-wrap: wrap;
  }
  .bookYourTicketFormContaineWrapper {
    padding-bottom: var(--padding-750xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .routeChips {
    flex-wrap: wrap;
  }
  .bookYourTicket {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .bookYourTicket1 {
    font-size: var(--font-size-18xl);
  }
  .formContainer {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .lineIcon {
    min-width: 100%;
  }
  .bookYourTicketFormContaine {
    gap: var(--gap-xl);
  }
  .bookYourTicket,
  .bookYourTicketFormContaineWrapper {
    padding-bottom: var(--padding-481xl);
    box-sizing: border-box;
  }
  .bookYourTicket {
    gap: var(--gap-xl);
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-20xl);
  }
}
@media screen and (max-width: 450px) {
  .bookYourTicket1 {
    font-size: var(--font-size-9xl);
  }
}
