.guidingPrinciplesOf {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.title {
  width: 315px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bulltetPointPlaceholder {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
}
.monthlySeasonTickets {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: calc(100% - 14px);
}
.bulletPoint {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder1 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
}
.monthlySeasonTickets1 {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: calc(100% - 14px);
}
.bulletPoint1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder2,
.monthlySeasonTickets2 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets2 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint2 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder3,
.monthlySeasonTickets3 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets3 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint3 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder4,
.monthlySeasonTickets4 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets4 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint4 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder5,
.monthlySeasonTickets5 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets5 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint5 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder6,
.monthlySeasonTickets6 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets6 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint6 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder7,
.monthlySeasonTickets7 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets7 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint7 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder8,
.monthlySeasonTickets8 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets8 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint8 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder9,
.monthlySeasonTickets9 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets9 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint9 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder10 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets10 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint10 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder11 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets11 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint11 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder12 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets12 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint12 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder13 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets13 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint13 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder14 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets14 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint14 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder15 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets15 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint15 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder16 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets16 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint16 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder17 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets17 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint17 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder18 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets18 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint18 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder19 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets19 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint19 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulletPointContainer,
.bulletPoints {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bulletPoints {
  width: 1118px;
  max-width: 105%;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--text-grey-body-text);
}
.bulletPointContainer {
  align-self: stretch;
  padding: 0 0 0 var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .guidingPrinciplesOf {
    font-size: var(--font-size-lg);
  }
}
