.knowMoreAbout {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer,
.monthlySeasonTicket {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.monthlySeasonTicket {
  padding-left: var(--padding-8xl);
}
.before6AmContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer1,
.physicallyChallenged {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.physicallyChallenged {
  padding-left: var(--padding-8xl);
}
.before6AmContainer1 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion1 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer2,
.ngosBusPass {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.ngosBusPass {
  padding-left: var(--padding-8xl);
}
.before6AmContainer2 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion2 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer3,
.unemployedYouth {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.unemployedYouth {
  padding-left: var(--padding-8xl);
}
.before6AmContainer3 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion3 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer4,
.journalists {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.journalists {
  padding-left: var(--padding-8xl);
}
.before6AmContainer4 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion4 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer5,
.freedomFighters {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.freedomFighters {
  padding-left: var(--padding-8xl);
}
.before6AmContainer5 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion5 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer6,
.dialysisPatients {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.dialysisPatients {
  padding-left: var(--padding-8xl);
}
.before6AmContainer6 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion6 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg7 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer7,
.spousesMartyrs {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.spousesMartyrs {
  padding-left: var(--padding-8xl);
}
.before6AmContainer7 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion7 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.bg8 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6Am {
  width: calc(100% - 72px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 150px;
  max-width: calc(100% - 48px);
  padding: 0;
  z-index: 1;
}
.accordianDropdowntrueIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion8,
.busOtherPassesSection,
.otherPassesAccordions {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.accordion8 {
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.busOtherPassesSection,
.otherPassesAccordions {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.busOtherPassesSection {
  background-color: var(--support-grey-bg);
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1100px) {
  .busOtherPassesSection {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .busOtherPassesSection {
    gap: var(--gap-base);
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .knowMoreAbout {
    font-size: var(--font-size-lgi);
  }
  .before6Am,
  .before6AmContainer,
  .before6AmContainer1,
  .before6AmContainer2,
  .before6AmContainer3,
  .before6AmContainer4,
  .before6AmContainer5,
  .before6AmContainer6,
  .before6AmContainer7 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .busOtherPassesSection {
    padding: var(--padding-15xl) var(--padding-xl) var(--padding-23xl);
    box-sizing: border-box;
  }
}
