.knowMoreAbout {
  font-weight: 600;
}
.knowMoreAboutContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
  font-family: inherit;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.generalBusTicketGbtOrdin {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.generalBusTicketGbtMetro {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer1 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion1 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.generalBusTicketGbtMetro1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer2 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion2 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.generalBusTicketGbtMetro2 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer3 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion3 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.bg4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.generalBusTicketGbtPushp {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer4 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion4 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.bg5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.before6AmContainer5,
.mmtsRtcCombiTicket {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.mmtsRtcCombiTicket {
  padding-left: var(--padding-8xl);
}
.before6AmContainer5 {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 48px);
  z-index: 1;
}
.accordianDropdowntrueIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordion5 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.busPassGeneralCommuterPass,
.reservationAccordians {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reservationAccordians {
  width: 1166px;
  overflow-x: auto;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.busPassGeneralCommuterPass {
  background-color: var(--support-grey-bg);
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 750px) {
  .busPassGeneralCommuterPass {
    gap: var(--gap-base);
    padding: var(--padding-33xl) var(--padding-31xl) var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .knowMoreAboutContainer {
    font-size: var(--font-size-lgi);
  }
  .before6AmContainer,
  .before6AmContainer1,
  .before6AmContainer2,
  .before6AmContainer3,
  .before6AmContainer4,
  .before6AmContainer5 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .busPassGeneralCommuterPass {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
