.lineSeparatorIcon {
  display: none;
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}

.lineSeparater {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    white,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.recognitionLogoIcon,
.recognitionTextIcon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.irecognitionTextIcon {
  left: 30.9px;
  width: 130.1px;
  height: 46.9px;
  mix-blend-mode: hue;
}

.recognition1 {
  height: 46.9px;
  width: 161px;
  position: relative;
}

.recognition2Icon {
  height: 33px;
  width: 127px;
  position: relative;
  object-fit: cover;
}

.recognitionContainer {
  align-self: stretch;
  height: 46.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}

.recognitionContainerWrapper {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.followUsOn {
  position: relative;
  letter-spacing: 0.02em;
}

.socialMediaIcon1,
.socialMediaIcon2,
.socialMediaIcon3,
.socialMediaIcon4 {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  object-fit: cover;
  min-height: 28px;
}

.socialMedia,
.socialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.socialMedia {
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 161px;
}

.downloadOurApp {
  position: relative;
  letter-spacing: 0.02em;
}

.appStoreIcon,
.googlePlayIcon {
  align-self: stretch;
  width: 90px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 30px;
}

.downloadPlartformContainer,
.downloadPlatform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}

.downloadPlartformContainer {
  flex-direction: column;
  gap: var(--gap-mini);
}

.recognitionAndSocialMediaC,
.socialMediaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.socialMediaContainer {
  width: 491px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}

.recognitionAndSocialMediaC {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}

.copyright2021Tgsrtc {
  position: relative;
  line-height: 21px;
}

.copyright2021TgsrtcAllRWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--support-white);
  font-family: var(--font-montserrat);
  z-index: 110;
  position: relative;
}
.recognitionTextIconSection {
  display: none;
}

@media screen and (max-width: 1100px) {
  .recognitionAndSocialMediaC {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1046px) {
  .recognitionContainerWrapper {
    padding: 0;
    margin: 0 auto;
  }
  .recognitionAndSocialMediaC {
    gap: var(--gap-13xl);
  }
  .socialMediaContainer {
    margin: auto;
  }
  .footer {
    padding: var(--padding-11xl);
  }
}

@media screen and (max-width: 599px) {
  .socialMediaContainer {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }

  .footer {
    gap: var(--gap-21xl);
    padding: var(--padding-21xl) var(--padding-xl) var(--padding-xl);
  }

  .recognitionContainerWrapper {
    padding: 0;
  }

  .socialMedia {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .downloadOurApp,
  .downloadPlartformContainer {
    margin: 0 auto;
  }

  .recognitionLogoIcon {
    object-fit: unset;
  }

  .recognitionTextIconSection {
    width: 130.1px;
    height: 46.9px;
  }

  .recognitionTextIcon {
    width: 100%;
    height: 100%;
    display: none;
  }
  .recognitionAndSocialMediaC {
    gap: var(--gap-21xl);
  }
}
