.tsrtcAirportPushpak,
.tsrtcMiyapur2 {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.tsrtcMiyapur2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.tsrtcAirportPushpak {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  display: inline-block;
  max-width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.name {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 10px;
}
.cells {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl) var(--padding-3xs)
    var(--padding-xl);
  background-color: var(--primary-green);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-height: 54px;
}
.cells:hover {
  background-color: var(--color-mediumseagreen-100);
}
.name1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.cells1,
.cells2 {
  display: flex;
  justify-content: flex-start;
}
.cells2 {
  background-color: var(--primary-green);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  max-height: 54px;
}
.cells1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
}
.name2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 39px;
}
.cells3,
.cells4 {
  display: flex;
  justify-content: flex-start;
}
.cells4 {
  align-self: stretch;
  background-color: var(--primary-green);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  max-height: 54px;
}
.cells3 {
  width: 167px;
  flex-direction: column;
  align-items: flex-start;
}
.name3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 17px;
}
.cells5,
.cells6 {
  display: flex;
  justify-content: flex-start;
}
.cells6 {
  background-color: var(--primary-green);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-16xl) var(--padding-3xs)
    var(--padding-xl);
  box-sizing: border-box;
  max-height: 54px;
}
.cells5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
}
.name4 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.cells7,
.cells8 {
  display: flex;
  justify-content: flex-start;
}
.cells8 {
  align-self: stretch;
  background-color: var(--primary-green);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  max-height: 54px;
}
.cells7 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 502px;
  max-width: 100%;
}
.table1 {
  width: 10px;
  height: 37px;
  background-color: var(--primary-green);
}
.cells9,
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.cells10,
.name5 {
  position: relative;
}
.name5 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 6px;
}
.cells10 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15.5px var(--padding-15xl) 15.5px var(--padding-xl);
  gap: var(--spacing-lg);
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.name6 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 19px;
}
.cells11,
.contentCell {
  display: flex;
  justify-content: flex-start;
}
.cells11 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 15.5px var(--padding-18xl) 15.5px var(--padding-xl);
  position: relative;
  gap: var(--spacing-lg);
}
.contentCell {
  flex-direction: column;
  align-items: flex-start;
}
.bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.name7 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.cells12,
.contentCell1 {
  display: flex;
  justify-content: flex-start;
}
.cells12 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 15.5px var(--padding-xl);
  position: relative;
  gap: var(--spacing-lg);
}
.contentCell1 {
  width: 167px;
  flex-direction: column;
  align-items: flex-start;
}
.bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.name8 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.cells13,
.contentCell2 {
  display: flex;
  justify-content: flex-start;
}
.cells13 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 15.5px var(--padding-base) 15.5px var(--padding-xl);
  position: relative;
  gap: var(--spacing-lg);
}
.contentCell2 {
  flex-direction: column;
  align-items: flex-start;
}
.bg4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.name9 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
}
.cells14,
.contentCell3 {
  display: flex;
  justify-content: flex-start;
}
.cells14 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 15.5px var(--padding-xl);
  position: relative;
  gap: var(--spacing-lg);
}
.contentCell3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 591px;
  max-width: 100%;
}
.bg5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.name10 {
  width: 55px;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: none;
  z-index: 1;
}
.cells15,
.contentCell4,
.rowCells {
  display: flex;
  justify-content: flex-start;
}
.cells15 {
  align-self: stretch;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-lg) 0 var(--spacing-lg) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--spacing-lg);
}
.contentCell4,
.rowCells {
  width: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.rowCells {
  width: 1295px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 112%;
  flex-shrink: 0;
  row-gap: 20px;
}
.bg6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.name11 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  z-index: 1;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.accordianDropdownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl) var(--spacing-lg)
    var(--padding-57xl);
  position: relative;
  gap: var(--gap-xl);
}
.bg7 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div,
.frameChild {
  position: relative;
  z-index: 1;
}
.div {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.frameChild {
  width: 1px;
  height: 12px;
}
.datasContainerInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div1,
.frameItem {
  position: relative;
  z-index: 1;
}
.div1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.frameItem {
  width: 1px;
  height: 12px;
}
.datasContainerChild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div2,
.frameInner {
  position: relative;
  z-index: 1;
}
.div2 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 35px;
  white-space: nowrap;
}
.frameInner {
  width: 1px;
  height: 12px;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div3,
.vectorIcon {
  position: relative;
  z-index: 1;
}
.div3 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 39px;
  white-space: nowrap;
}
.vectorIcon {
  width: 1px;
  height: 12px;
}
.datasContainerInner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div4,
.frameChild1 {
  position: relative;
  z-index: 1;
}
.div4 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 38px;
  white-space: nowrap;
}
.frameChild1 {
  width: 1px;
  height: 12px;
}
.datasContainerInner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div5,
.frameChild2 {
  position: relative;
  z-index: 1;
}
.div5 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.frameChild2 {
  width: 1px;
  height: 12px;
}
.datasContainerInner3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div6,
.frameChild3 {
  position: relative;
  z-index: 1;
}
.div6 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 39px;
  white-space: nowrap;
}
.frameChild3 {
  width: 1px;
  height: 12px;
}
.datasContainerInner4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div7,
.frameChild4 {
  position: relative;
  z-index: 1;
}
.div7 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 35px;
  white-space: nowrap;
}
.frameChild4 {
  width: 1px;
  height: 12px;
}
.datasContainerInner5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div8,
.frameChild5 {
  position: relative;
  z-index: 1;
}
.div8 {
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 38px;
  white-space: nowrap;
}
.frameChild5 {
  width: 1px;
  height: 12px;
}
.datasContainerInner6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div9 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  min-width: 38px;
  white-space: nowrap;
  z-index: 1;
}
.datasContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px var(--padding-81xl);
  position: relative;
  gap: var(--gap-4xl-5);
}
.bg8 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.accordianChild {
  width: 192px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  color: var(--text-black);
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian1 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl) var(--spacing-lg)
    var(--padding-57xl);
  position: relative;
  gap: var(--gap-xl);
}
.bg9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.accordianItem {
  width: 204px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  color: var(--text-black);
}
.accordianDropdowntrueIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian2 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl) var(--spacing-lg)
    var(--padding-57xl);
  position: relative;
  gap: var(--gap-xl);
}
.bg10 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.accordianInner {
  width: 164px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  color: var(--text-black);
}
.accordianDropdowntrueIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian3,
.pageWiseAccordian {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.accordian3 {
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl) var(--spacing-lg)
    var(--padding-57xl);
  position: relative;
  gap: var(--gap-xl);
}
.pageWiseAccordian {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contents {
  align-self: stretch;
  overflow: hidden;
}
.containerParent,
.contents,
.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.table {
  margin: 0;
  align-self: stretch;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-7xs);
  background-color: var(--support-white);
  overflow: hidden;
}
.containerParent {
  width: 1166px;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1275px) {
  .accordian,
  .accordian1,
  .accordian2,
  .accordian3 {
    padding-left: var(--spacing-lg);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .datasContainer {
    flex-wrap: wrap;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .cells7,
  .contentCell3 {
    min-width: 100%;
  }
  .datasContainer {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .tsrtcMiyapur2 {
    font-size: var(--font-size-lgi);
  }
}
