.note {
  font-weight: 600;
}
.noteThisFacilityContainer {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.itemCell {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.guidingPrinciplesOf {
  height: 29px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.title {
  width: 362px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bulltetPointPlaceholder {
  height: 26px;
  width: 6px;
  position: relative;
}
.monthlySeasonTickets {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 679px;
  max-width: 100%;
}
.bulletPoint {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder1 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets1 {
  margin: 0;
  width: 1104px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder2,
.monthlySeasonTickets2 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets2 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint2 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder3,
.monthlySeasonTickets3 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets3 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint3 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder4,
.monthlySeasonTickets4 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets4 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint4 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder5,
.monthlySeasonTickets5 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets5 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint5 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder6,
.monthlySeasonTickets6 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets6 {
  height: 52px;
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint6 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder7,
.monthlySeasonTickets7 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets7 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint7 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder8,
.monthlySeasonTickets8 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets8 {
  height: 52px;
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint8 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder9,
.monthlySeasonTickets9 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets9 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 105%;
}
.bulletPoint9 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder10 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets10 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint10 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder11 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets11 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint11 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder12 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets12 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint12 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder13 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets13 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint13 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder14 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets14 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint14 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder15 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets15 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint15 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder16 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets16 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint16 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder17 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets17 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint17 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder18 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets18 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint18 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder19 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets19 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.bulletPoint19,
.bulletPoints {
  align-items: flex-start;
  justify-content: flex-start;
}
.bulletPoint19 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulletPoints {
  display: flex;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--text-grey-body-text);
}
.bulletPointContainer,
.bulletPoints,
.texts {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.bulletPointContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-5xl);
}
.texts {
  padding: 0 var(--padding-35xl);
  gap: var(--gap-xs);
}
.accordionAnswerSection,
.accordionAnswerSectionWrapper,
.texts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.accordionAnswerSection {
  flex: 1;
  box-shadow: var(--table-shadow);
  background-color: var(--support-white);
  flex-direction: column;
  padding: var(--padding-base) 0 var(--padding-5xl);
  max-width: 100%;
}
.accordionAnswerSectionWrapper {
  width: 1166px;
  flex-direction: row;
  padding: 0 0 var(--padding-base);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1100px) {
  .monthlySeasonTickets {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .guidingPrinciplesOf {
    font-size: var(--font-size-lgi);
  }
}
