.tsrtcLogoIcon {
  height: 70.4px;
  width: 70.4px;
  position: relative;
  object-fit: contain;
}
.icon {
  width: 289.1px;
  height: 24.4px;
  position: relative;
}
.telanganaStateRoadTransport {
  align-self: stretch;
  height: 11.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tsrtcLogo,
.tsrtcLogo1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs-4);
  max-width: 100%;
}
.tsrtcLogo1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-9);
}
.tsrtcLogo {
  width: 504px;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.reservations {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}
.navTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.navTabs1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.navTabs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations3 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
}
.navTabs3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations4 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
}
.navTabs4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations5 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
}
.navTabs5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations6 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 116px;
  white-space: nowrap;
}
.navTabs6 {
  border-bottom: 4px solid var(--primary-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0 var(--padding-11xs);
  color: var(--primary-red);
}
.reservations7 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.navTabs7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.header,
.tabContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.tabContainer {
  width: 755px;
  justify-content: flex-start;
  gap: var(--gap-4xl-9);
}
.header {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  background-color: var(--support-white);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-11xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1275px) {
  .tabContainer {
    display: none;
  }
}
