.dropdownMenu {
  display: none;
  position: absolute;
  background-color: var(--support-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  top: 50%;
  left: 0;
  list-style-type: none;
}

.dropdownItem {
  padding: var(--padding-xs) var(--padding-base);
  text-decoration: none;
  display: block;
  color: var(--color-black);
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: var(--color-mediumseagreen-100);
  color: var(--support-grey-bg);
}

.headerTabLink:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
}

.navTabs:hover {
  color: var(--primary-red);
}

.navTabs:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
}

.headerListItemLink {
  width: 100%;
}

.headerHidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.tsrtcLogoIcon {
  height: 70.4px;
  width: 70.4px;
  position: relative;
  object-fit: contain;
}

.tsrtcMobileLogoIcon {
  display: none;
}

.icon {
  width: 289.1px;
  height: 24.4px;
  position: relative;
}

.telanganaStateRoadTransport {
  align-self: stretch;
  height: 11.3px;
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.tsrtcLogo,
.tsrtcHeaderTextLogo {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs-4);
  max-width: 100%;
}

.tsrtcHeaderTextLogo {
  /* width: fit-content; */
  width: 425px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-9);
}

.tsrtcLogo {
  width: 504px;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.reservations {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: max-content;
}

.navTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: var(--padding-xl) 0; */
  color: var(--text-black);
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.activeTab {
  color: var(--primary-red);
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--primary-green);
}

.reservations1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 95px;
}

.reservations2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 65px;
}

.reservations3 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
}

.reservations4 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 46px;
}

.reservations5 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 59px;
}

.reservations6 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}

.reservations7 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}

.header,
.tabContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.tabContainer {
  width: 763px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-decoration: none;
}

.headerTabLink {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.listItem {
  text-decoration: none;
}

.header {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  background-color: var(--support-white);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-11xl);
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
  top: 0;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.header:hover {
  background: var(--support-white);
}

@media screen and (max-width: 1275px) {
  .tabContainer {
    display: none;
  }

  .headerMobileIconSection {
    display: block;
    position: relative;
  }

  .navTabs {
    align-items: start;
    padding: var(--padding-8xs) 0px var(--padding-3xs);
  }
}

.slideMenu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--support-white);
  box-shadow: -2px 0 5px var(--color-gray-200);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: var(--padding-xl);
}

.slideMenu.open {
  right: 0;
}

.closeIconSection {
  display: flex;
  justify-content: flex-end;
  padding: var(--gap-3xs);
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 9999;
}

.closeIcon {
  cursor: pointer;
  background-color: var(--primary-red);
}

@media screen and (min-width: 1276px) {
  .headerMobileIconSection {
    display: none;
  }

  .headerMobileIcon {
    width: 100%;
    height: 100%;
  }

  .slideMenu {
    display: none;
  }

  .tsrtcLogo {
    /* width: 476px; */
  }
}

@media screen and (max-width: 1285px) {
  .header {
    padding: var(--padding-xs) var(--padding-mini);
  }
}

@media screen and (max-width: 1023px) {
  .tsrtcLogo {
    display: none;
  }

  .tsrtcMobileLogoIcon {
    width: 100%;
    height: 100%;
    display: block;
  }

  .slideMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .headerTabLink {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: unset;
  }

  .slideMenu.open {
    right: -42px;
  }
}

@media screen and (max-width: 599px) {
  .header {
    padding: var(--padding-xs) var(--padding-xl);
  }

  .tsrtcMobileLogoIconSection {
    width: 226px;
    height: 31.6px;
  }
}