.gamayamLogoIcon,
.mapIcon {
  position: relative;
  object-fit: cover;
}
.mapIcon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gamayamLogoIcon {
  width: 292px;
  height: 100px;
  mix-blend-mode: multiply;
}
.gamyamApp {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.experienceSeamlessTravel {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-grey-body-text);
  text-align: center;
}
.logoAndTextSection,
.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.texts {
  align-self: stretch;
  gap: var(--gap-xs);
}
.logoAndTextSection {
  width: 654px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.wrapperVector234251015Child {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.733);
}
.wrapperVector234251015 {
  height: 420px;
  width: 709px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.icon,
.pic51,
.pic71 {
  height: 455px;
  width: 226px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.icon,
.pic71 {
  height: 519px;
  width: 258px;
  object-fit: cover;
}
.icon {
  height: 467px;
  width: 239px;
  object-fit: contain;
}
.mobileMockupImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 20px;
}
.gamayamContent,
.homeGamyamApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.gamayamContent {
  margin: 0 !important;
  position: absolute;
  top: 59px;
  left: 329px;
  align-items: center;
  gap: var(--gap-21xl);
  z-index: 1;
}
.homeGamyamApp {
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--text-black);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 750px) {
  .gamyamApp {
    font-size: var(--font-size-18xl);
  }
  .mobileMockupImage {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .gamyamApp {
    font-size: var(--font-size-9xl);
  }
}
