.weAreAvailable {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
}
.forTsrtcEmployee {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
}
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.icons1,
.lineIcon {
  height: 39.5px;
  width: 2px;
  position: relative;
}
.icons1 {
  height: 24px;
  width: 24px;
}
.nonTsrtcEmployee {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
}
.phone1,
.phoneContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.phone1 {
  flex: 1;
  gap: var(--gap-5xs);
  min-width: 336px;
  font-family: var(--font-montserrat);
}
.phoneContainer {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-12xl);
}
.icons2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.supporttsrtchospitalcom {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.email,
.support,
.texts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.email {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.support,
.texts {
  align-self: stretch;
  flex-direction: column;
}
.support {
  gap: var(--gap-sm);
  font-size: var(--font-size-5xl);
  color: var(--text-black);
  font-family: var(--font-red-hat-display);
}
.texts {
  gap: var(--gap-13xl);
}
.applyNow {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-mid);
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.weAreAvailableForYouConta {
  width: 1064px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.weAreAvailableForYouContaWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild,
.image682Icon,
.image683Icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.frameChild {
  left: 0;
  background-color: var(--support-white);
  display: none;
  mix-blend-mode: hard-light;
}
.image682Icon,
.image683Icon {
  left: calc(50% - 448.75px);
  object-fit: cover;
}
.image682Icon {
  display: none;
}
.image683Icon {
  mix-blend-mode: screen;
  z-index: 1;
}
.image682Parent {
  position: absolute;
  top: 228.7px;
  left: calc(50% - 448.65px);
  width: 897.5px;
  height: 580.4px;
  background-image: url(/image-682@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangleParent {
  margin-bottom: -137px;
  height: 943.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.contactImage,
.hospitalContact {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contactImage {
  height: 456px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-42xl);
  max-width: 100%;
}
.hospitalContact {
  background-color: var(--support-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-81xl) 0 0;
  max-width: 102%;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1100px) {
  .hospitalContact {
    padding-top: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .weAreAvailable {
    font-size: var(--font-size-18xl);
  }
  .phoneContainer {
    gap: var(--gap-mini);
  }
  .texts {
    gap: var(--gap-base);
  }
  .weAreAvailableForYouConta {
    gap: var(--gap-xl);
  }
  .contactImage {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .weAreAvailable {
    font-size: var(--font-size-9xl);
  }
  .forTsrtcEmployee,
  .nonTsrtcEmployee {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .phone1 {
    min-width: 100%;
  }
  .supporttsrtchospitalcom {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .hospitalContact {
    padding-top: var(--padding-23xl);
    box-sizing: border-box;
  }
}
