.aboutHospital1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.image679Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagePlaceholder,
.titleAndLine {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.imagePlaceholder {
  flex: 1;
  border-radius: var(--br-3xs);
  align-items: flex-start;
}
.titleAndLine {
  height: 920px;
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-13xl);
}
.tarnakaHospitalStands {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 40px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-grey-body-text);
  text-align: center;
}
.aboutHospital,
.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.texts {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.aboutHospital {
  width: 1166px;
  box-shadow: var(--card);
  border-radius: var(--br-base);
  background-color: var(--support-white);
  padding: var(--padding-41xl);
  box-sizing: border-box;
  max-width: 100%;
}
.whatServiceWe {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.textCards,
.textCards1 {
  border: 0;
  background-color: var(--support-white);
  height: 120px;
  width: 240px;
  outline: 0;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.textCards1 {
  padding: var(--padding-27xl) var(--padding-5xl);
}
.emergencyTrauma {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards2 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-27xl) var(--padding-5xl);
  box-sizing: border-box;
}
.cardiology,
.nonInterventional {
  margin: 0;
}
.emergencyTraumaContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards3,
.textCards4 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
}
.textCards4 {
  border: 0;
  height: 120px;
  outline: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.medicalOncology,
.opChemo {
  margin: 0;
}
.emergencyTraumaContainer1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards5,
.textCards6,
.textCards7,
.textCards8 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
}
.textCards6,
.textCards7,
.textCards8 {
  border: 0;
  height: 120px;
  outline: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.gynaecology,
.obstetrics {
  margin: 0;
}
.excludingHighRisk {
  margin: 0;
  font-size: var(--font-size-sm);
}
.emergencyTraumaContainer2 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  mix-blend-mode: normal;
}
.textCards10,
.textCards9 {
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base-5) var(--padding-xl);
}
.textCards10 {
  border: 0;
  height: 120px;
  width: 240px;
  outline: 0;
  flex-shrink: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.emergencyTrauma1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards11 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
}
.entSurgery,
.otolaryngology {
  margin: 0;
}
.emergencyTraumaContainer3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards12,
.textCards13 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
}
.textCards13 {
  border: 0;
  height: 120px;
  outline: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.emergencyTrauma2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards14,
.textCards15,
.textCards16,
.textCards17 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-27xl) var(--padding-5xl);
  box-sizing: border-box;
}
.textCards15,
.textCards16,
.textCards17 {
  border: 0;
  height: 120px;
  outline: 0;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.emergencyTrauma3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards18,
.textCards19 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
}
.textCards19 {
  border: 0;
  height: 120px;
  outline: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
}
.emergencyTrauma4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCards20 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
}
.emergencyTrauma5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.textCardContianer,
.textCards21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.textCards21 {
  width: 240px;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-xs);
  background-color: var(--support-white);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-27xl) var(--padding-5xl);
}
.textCardContianer {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 var(--padding-24xl);
  gap: var(--gap-21xl);
  min-height: 920px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--text-grey-body-text);
  font-family: var(--font-montserrat);
}
.hospitalAboutWhatServiceWe,
.serviceProviderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.serviceProviderContainer {
  width: 1166px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--text-black);
}
.hospitalAboutWhatServiceWe {
  align-self: stretch;
  background-color: var(--support-grey-bg);
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1275px) {
  .aboutHospital {
    padding: var(--padding-20xl) var(--padding-11xl);
    box-sizing: border-box;
  }
  .textCardContianer {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .hospitalAboutWhatServiceWe {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .aboutHospital1 {
    font-size: var(--font-size-18xl);
  }
  .titleAndLine {
    gap: var(--gap-base);
  }
  .texts {
    gap: var(--gap-xl);
  }
  .aboutHospital {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .whatServiceWe {
    font-size: var(--font-size-18xl);
  }
  .textCardContianer {
    gap: var(--gap-xl);
  }
  .serviceProviderContainer {
    gap: var(--gap-base);
  }
  .hospitalAboutWhatServiceWe {
    gap: var(--gap-31xl);
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutHospital1 {
    font-size: var(--font-size-9xl);
  }
  .tarnakaHospitalStands {
    font-size: var(--font-size-lgi);
    line-height: 32px;
  }
  .whatServiceWe {
    font-size: var(--font-size-9xl);
  }
  .emergencyTrauma,
  .emergencyTrauma1,
  .emergencyTrauma2,
  .emergencyTrauma3,
  .emergencyTrauma4,
  .emergencyTrauma5,
  .emergencyTraumaContainer,
  .emergencyTraumaContainer1,
  .emergencyTraumaContainer3 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .hospitalAboutWhatServiceWe {
    gap: var(--gap-6xl);
  }
}
