.hyderabadDarshan {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.picturesIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: cover;
}
.imagePlaceholderChild {
  width: 364px;
  height: 232px;
  position: absolute;
  margin: 0 !important;
  top: -179px;
  left: -70px;
  filter: blur(110px);
  border-radius: 50%;
  background-color: var(--color-aliceblue);
  mix-blend-mode: normal;
  z-index: 1;
}
.imagePlaceholder,
.imageText {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.imagePlaceholder {
  height: 200px;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  position: relative;
  gap: var(--gap-xl);
}
.imageText {
  gap: var(--gap-5xl);
}
.calenderIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.amTo0800 {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.pickupBusIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pickupAlpha {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.content1,
.pickup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.content1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.golkonda,
.placesCovered {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.placesCovered {
  font-weight: 600;
}
.golkonda {
  display: inline-block;
  min-width: 86px;
}
.chips1 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.golkonda1 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 68px;
}
.chips2 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
}
.golkonda2 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 126px;
}
.chips3 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.golkonda3 {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.chips4 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.golkonda4 {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.chips5 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.golkonda5 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 91px;
}
.chips6 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.golkonda6 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 95px;
}
.chips,
.chips7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.chips7 {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  padding: var(--padding-11xs) var(--padding-xs);
  white-space: nowrap;
}
.chips {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 var(--padding-93xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-height: 106px;
}
.packageTourWill {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 26px;
  color: var(--text-grey-body-text);
  mix-blend-mode: normal;
}
.chipsTexts,
.content2,
.contents {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.contents {
  justify-content: center;
  gap: var(--gap-13xl);
}
.applyNow {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: center;
  display: inline-block;
  min-width: 75px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl) var(--padding-3xs);
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.tourismCard,
.tourismCardContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tourismCardContent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.tourismCard {
  width: 560px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-base);
  background-color: var(--support-white);
  align-items: flex-start;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 450px) {
  .hyderabadDarshan {
    font-size: var(--font-size-lgi);
  }
}
