.tableTitleParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.tableTitleParent {
  margin: 0;
  width: 1166px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.reservationBusOnContractRa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reservationBusOnContractRa {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.reservationContractRatesTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--support-grey-bg);
  padding: var(--padding-61xl) var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  z-index: 1;
}
@media screen and (max-width: 1275px) {
    .reservationContractRatesTab {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
   .reservationContractRatesTab {
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
    .reservationContractRatesTab {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
    .reservationContractRatesTab {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  }
  