.cardImage {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 100%;
  transform: scale(1.246);
}
.cardImageContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographicsChild {
  margin-left: -16px;
  width: 146px;
  height: 7px;
  position: relative;
  filter: blur(14px);
  border-radius: 50%;
  background-color: var(--color-gray-200);
}
.infographicContainer,
.infographicContainerWrapper,
.infographics {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.infographics {
  width: 140px;
  flex-direction: column;
  padding: var(--padding-smi);
  box-sizing: border-box;
}
.infographicContainer,
.infographicContainerWrapper {
  flex-direction: row;
}
.infographicContainerWrapper {
  height: 100px;
  justify-content: center;
}
.cardTitle {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.dedicatedToDelivering {
  display: block;
}
.cardContent {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
  color: var(--text-grey-body-text);
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.texts {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.lineSeparatorIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater {
  align-self: stretch;
  height: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.applyNow {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: center;
}
.button1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-5xl) var(--padding-3xs);
  white-space: nowrap;
}
.applyNow1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--support-white);
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.button2,
.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  padding: var(--padding-4xs) var(--padding-5xl) var(--padding-3xs);
  white-space: nowrap;
}
.buttonsContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  gap: var(--gap-base);
}
.bodyContainer,
.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bodyContainer {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xl);
}
.cards {
  width: 427px;
  margin: 0 !important;
  top: 0;
  left: 4px;
  box-shadow: var(--card-shadow);
  border-radius: var(--br-base);
  background-color: var(--support-white);
  align-items: flex-start;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .cardTitle {
    font-size: var(--font-size-lgi);
  }
  .cards {
    padding: var(--padding-xl);
  }
}
