.aboutLogistics,
.telanganaStateRoad {
  margin: 0;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.aboutLogistics {
  font-size: var(--font-size-27xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  color: var(--color-black);
  text-align: left;
  mix-blend-mode: normal;
}
.telanganaStateRoad {
  width: 85.52%;
  line-height: 26px;
}
.wwwtgsrtctelanganagovin {
  color: var(--primary-green);
}
.theConsignorsCanContainer {
  margin: 0;
  width: 86.71%;
  position: relative;
  line-height: 26px;
  display: inline-block;
  word-break: break-word;
}
.logisticAboutTexts,
.logisticsInfographicCardCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.logisticsInfographicCardCon {
  width: 100%;
  max-width: 1166px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--text-grey-body-text);
  font-family: var(--font-red-hat-display);
}
.contentRight,
.logisticAboutSection {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.logisticAboutSection {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
}
.contentRight {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  align-items: center;
  padding: 0 var(--padding-81xl) var(--padding-81xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
@media screen and (min-width: 1090px) and (max-width:1240px) {
  .logisticsInfographicCardCon{
    width: 85%;
  }
}
@media screen and (max-width: 1023px) {
  .aboutLogistics {
    font-size: var(--font-size-18xl);
  }
  .logisticAboutTexts {
    gap: var(--gap-base);
  }
  .logisticAboutSection,
  .logisticsInfographicCardCon {
    gap: var(--gap-xl);
  }
 .logisticsInfographicCardCon{
  flex-direction: column;
 }
  .contentRight {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .logisticAboutTexts{
    padding-top: var(--padding-41xl);
  }
}
@media screen and (max-width: 599px) {
  .logisticsInfographicCardCon{
    width: 86.7%;
  }
  .aboutLogistics {
    font-size: var(--font-size-9xl);
    padding-bottom: var(--padding-13xl);
  }
  .contentRight {
    padding: unset;
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .logisticAboutTexts{
    display: block;
    padding-top: var(--padding-41xl);
  }
  .telanganaStateRoad{
    width: 86.8%;
    padding-bottom: var(--padding-13xl);
  }
  .theConsignorsCanContainer{
    margin-bottom: var(--spacing-lg);
  }
  .logisticsInfographicCardCon{
    gap: var(--gap-21xl);
  }
}
