.reservationHeroTourism {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
  z-index: 100;
  min-height: 300px;
}

.bgIcon,
.bgIconMobile {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.bgIconMobile {
  display: none;
}

.tourismContentWrapper {
  position: absolute;
  top: 7.3vw;
  left: 7.3vw;
  display: flex;
  flex-direction: column;
  width: 599px;
}

.tgsrtcIsHappy,
.tourism {
  margin: 0;
  mix-blend-mode: normal;
}

.tourism {
  font-size: inherit;
  line-height: 82px;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.tgsrtcIsHappy {
  margin-top: 10px;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  .tourismContentWrapper {
    width: 400px;
    top: 12vw;
    left: 7vw;
  }

  .tourism {
    font-size: var(--font-size-39xl);
    line-height: 68px;
  }

  .tgsrtcIsHappy {
    font-size: var(--font-size-lgi);
    line-height: 28px;
  }
}

@media screen and (max-width: 599px) {
  .bgIcon {
    display: none;
  }

  .bgIconMobile {
    display: block;
  }

  .tourismContentWrapper {
    width: 237px;
    top: 26.6vw;
    left: 6.4vw;
  }

  .tourism {
    font-size: var(--font-size-39xl);
    line-height: 56px;
  }

  .tgsrtcIsHappy {
    margin-top: 8px;
    font-size: var(--font-size-xl);
    line-height: 26px;
  }
}