.busDust {
  width: 128px;
  height: 918px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
  z-index: 4;
}
.lineSeparatorIcon,
.reservationHeroSpeacialBus {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.reservationHeroSpeacialBus {
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lineSeparatorIcon {
  overflow: clip;
  max-height: unset;
}
.lineSeparater {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copyright2021Tgsrtc {
  position: relative;
  line-height: 21px;
}
.copyright2021TgsrtcAllRWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.footer,
.reservationSpecialBusTiming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.reservationSpecialBusTiming {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  margin: 80px 100px 100px 100px;
}
.headingText {
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .footer {
    gap: var(--gap-base);
  }
  .container{
    margin: 0px 24px 60px 24px;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
