/* -------------------------------------------------------------------------------------- */
.reservationPointsPage {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

.reservationHeroConcessionContainer{
  width: 100%;
  align-self: stretch;
  height: 675px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

}
.reservationConcessionSchemesHeroImage{
  position: absolute;
  top: -26px;
  left: 0px;
  width: 100%;
  height: 754px;
  object-fit: contain;
  display: block;
}
.reservationConcessionSchemesHeroImageMobile{
  position: absolute;
display: none;
height: 458px;
max-width: 599px;
width: 100%;
}
.reservationConcessionSchemesHeroHeading{
  position: absolute;
  top: 213px;
  left:100px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservationPoints{
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 600;
  line-height: 82px;
  text-align: left;
  color: #fff;
  
}
.applyRenewText{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #fff;
}
.busDustWebsite {
  width: 128px;
  min-height:499px;
  height: 100%;
 
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: blobk;
  z-index: 4;
  align-self: flex-start;
  top: 0;
  left: 0;
}

.busDustMobile {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
  height: 128px;
  width: 100%;
}
.busDustMobile {
  display: none;
  height: 128px;
  width: 100%;
}
.reservationDetailsOfReservaParent {
  position: relative;
  align-self: stretch;
  max-width: 100%;
  height: auto;
}
.reservationDetailsOfReserva {
  top: 0;
  left: 0;
  background-color: var(--support-grey-bg);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) var(--padding-xl);
 padding-bottom:100px;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.reservationDetailsOfReserva,
.tableTitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.tableContainer {
  margin: 0px ;
  margin-top: 16px !important;
}

.tableTitle {
  width: 1166px;
  flex-direction: column;
}
.title {
  position: relative;
  font-weight: 600;
  margin: 0;
  font-size: inherit;
  line-height: 26px;
  font-family: inherit;
  mix-blend-mode: normal;
}

.table {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  border-radius: var(--br-7xs);
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}

.tableHeadCell{
  line-height: 17.07px !important;
  border-bottom-width: 0px !important;
  box-sizing: border-box !important;
  letter-spacing: normal !important;
}
.tableCell{
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  border-bottom-width: 0px !important;
  box-sizing: border-box !important;
  letter-spacing: unset !important;
  padding-right: 15.5px !important;
  width: 76px !important;
}
@media screen and (max-width:599px) {
.reservationConcessionSchemesHeroImage{
display: none;
}
.reservationConcessionSchemesHeroImageMobile{
  display: block;
}
  .reservationHeroConcessionContainer{
    height: 458px;
  }

  .reservationPoints{
    font-family: Playfair Display;
    font-size: 42px;
    font-weight: 600;
    line-height: 55.99px;
    text-align: left;
    
  }
  .applyRenewText{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    
  }
  .reservationConcessionSchemesHeroHeading{
    top: 67.43px;
    left: 23px;
  }
.busDustWebsite {
  display: none;
}
  .busDustMobile{
    display: block;
  }
  .reservationDetailsOfReserva{
    padding: 0px
  }
  .tableTitle{
margin-left: 24px;
margin-right: 24px;
  }
}
/* -------------------------------------------------------------------------------------- */










