.bgIcon,
.bgIconmobile {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.applyRenew,
.studentPasses {
  margin: 0;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}
.studentPasses {
  font-size: var(--font-size-53xl);
  line-height: 92px;
  font-weight: 600;
}
.applyRenew {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  margin-top: 10px;
  font-family: var(--font-montserrat);
}
.dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.eachAccordian {
  width: 100%;
}
.contentWrapper,
.busPassesHeroStudentPasses {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.contentWrapper {
  flex-direction: column;
  font-size: var(--font-size-5xl);
  position: absolute;
  top: 19.83vw;
  left: 8.3vw;
}
.busPassesHeroStudentPasses {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  position: relative;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--support-white);
  font-family: var(--font-playfair-display);
}
.knowMoreAbout {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.knowMoreAboutStudentPassesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.studentFreeBusPasses {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.before6AmContainer {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.accordian {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.studentConcessionalRoutePas {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}

.before6AmContainer1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian1,
.accordianParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.accordian1 {
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.accordianParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-5xs);
}
.httpsonlinetsrtcpassinco {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.itemCell,
.itemCellWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.itemCell {
  width: 1110px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mintcream-200);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.itemCellWrapper {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
}
.bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian2 {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian3,
.accordianGroup,
.busPassStudentPasses1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.accordian3 {
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.accordianGroup,
.busPassStudentPasses1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.busPassStudentPasses1 {
  background-color: var(--support-grey-bg);
  padding: var(--padding-61xl) var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.logo51Icon {
  height: 73px;
  width: 73px;
  position: relative;
  object-fit: cover;
}
.icon {
  width: 327.3px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.telanganaStateRoadTransport {
  align-self: stretch;
  height: 12.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo,
.logoTextGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.logoTextGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  min-width: 313px;
}
.logo {
  width: 568.6px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 568.6px;
}
.quicklinks {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 81px;
}
.aboutUs,
.careers,
.contactUs,
.siteMap {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.aboutUs,
.contactUs,
.siteMap {
  min-width: 62px;
}
.aboutUs,
.contactUs {
  min-width: 66px;
}
.contactUs {
  min-width: 76px;
}
.footerLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.information {
  letter-spacing: 0.02em;
}
.information,
.rtiAct2005 {
  position: relative;
  display: inline-block;
  min-width: 91px;
}
.feedback,
.privacyPolicies,
.roadSafety {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.feedback,
.privacyPolicies {
  min-width: 107px;
}
.feedback {
  min-width: 69px;
}
.footerLinks2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.busPasses,
.faqs,
.reservations {
  position: relative;
  display: inline-block;
}
.faqs {
  letter-spacing: 0.02em;
  min-width: 40px;
}
.busPasses,
.reservations {
  min-width: 90px;
}
.busPasses {
  min-width: 78px;
}
.footerLinks3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.footerSection,
.linksContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.linksContainer {
  width: 378px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  min-width: 378px;
}
.footerSection {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lineSeparatorIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image462Icon,
.image474Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image474Icon {
  left: 30.9px;
  width: 130.1px;
  height: 46.9px;
  mix-blend-mode: hue;
  z-index: 1;
}
.recognition1 {
  height: 46.9px;
  flex: 1;
  position: relative;
  min-width: 105px;
}
.recognition2Icon {
  align-self: stretch;
  height: 33px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.recognition2Wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-6xs-9);
  background-color: transparent;
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
}
.recognitionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionContainerWrapper {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.followUsOn {
  position: relative;
  letter-spacing: 0.02em;
}
.socialMediaIcon1,
.socialMediaIcon2,
.socialMediaIcon3,
.socialMediaIcon4 {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  object-fit: cover;
  min-height: 28px;
}
.socialMedia,
.socialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.socialMedia {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 153px;
}
.downloadOurApp {
  position: relative;
  letter-spacing: 0.02em;
}
.appStoreIcon,
.googlePlayIcon {
  align-self: stretch;
  width: 90px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 30px;
}
.downloadPlartformContainer,
.downloadPlatform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.downloadPlartformContainer {
  flex-direction: column;
  gap: var(--gap-mini);
}
.recognitionAndSocialMediaC,
.socialMediaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.socialMediaContainer {
  width: 480px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionAndSocialMediaC {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.copyright2021Tsrtc {
  position: relative;
  line-height: 21px;
}
.copyright2021TsrtcAllRiWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  font-size: var(--font-size-xs);
}
.busPassStudentPasses,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.busPassStudentPasses {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .busPassStudentPasses1 {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1023px) {
  .busPassStudentPasses1 {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .linksContainer,
  .logo {
    flex: 1;
  }
  .footerSection,
  .recognitionAndSocialMediaC {
    flex-wrap: wrap;
  }
  .knowMoreAbout {
    font-size: var(--font-size-xl);
  }
}
@media screen and (max-width: 750px) {
  .studentPasses {
    font-size: var(--font-size-42xl);
    line-height: 74px;
  }
  .busPassesHeroStudentPasses {
    box-sizing: border-box;
  }

  .logo {
    flex-wrap: wrap;
  }
  .linksContainer,
  .logo {
    min-width: 100%;
  }
  .socialMediaContainer {
    gap: var(--gap-6xl);
  }
  .footer {
    gap: var(--gap-base);
  }
  .applyRenew {
    font-size: var(--font-size-16);
    line-height: 26px;
    max-width: 320px;
    font-weight: 500;
    margin-top: 16px;
  }
  .contentWrapper {
    top: 58.6vw;
    left: 6.3vw;
  }
  .knowMoreAbout {
    font-size: var(--font-size-xl);
  }
  .busPassGeneralCommuterPass2 {
    padding: 0 var(--padding-5xl) var( --padding-60 ) var(--padding-5xl);
  }
}
@media screen and (max-width: 599px) {
  .contentWrapper {
    max-width: 237px;
  }
  .busPassStudentPasses1 {
    padding: var(--padding-5xl) var(--padding-5xl) var(--padding-41xl)
      var(--padding-5xl);
    box-sizing: border-box;
  }
  .knowMoreAboutStudentPassesWrapper {
    padding-bottom: 12px;
  }
  .knowMoreAbout {
    font-size: var(--font-size-xl);
  }
  .studentPasses {
    font-size: var(--font-size-42xl);
    line-height: 55px;
  }
  .applyRenew {
    font-size: var(--font-size-16);
    line-height: 26px;
  }
  .busPassGeneralCommuterPass2 {
    padding: 0 var(--padding-5xl) var( --padding-60 ) var(--padding-5xl);
  }
}
