.customSlider :global(.slick-track) {
  display: flex !important;
  gap: var(--gap-13xl);
  padding-bottom: var(--padding-13xl);
  padding-top: var(--padding-xl);
}
.customSlider {
  background-color: var(--support-white);
}
.newsUpdates {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.icons {
  height: 40px;
  width: 40px;
  position: relative;
}
.newsUpdateCards {
  flex: 1;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  min-width: 751px;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(273px, 1fr));
}
.icons1 {
  height: 40px;
  width: 40px;
  position: relative;
}
.carousel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-montserrat);
}
.carouselRedDot,
.carouselRedDot1,
.carouselRedDot2,
.carouselRedDot3,
.carouselRedDot4 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.carousal,
.homeNewsUpdates {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.homeNewsUpdates {
  align-self: stretch;
  background-color: var(--support-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-81xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1100px) {
  .newsUpdateCards {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(273px, 473px));
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .newsUpdates {
    font-size: var(--font-size-18xl);
  }
  .newsUpdateCards {
    gap: var(--gap-base);
    grid-template-columns: minmax(273px, 1fr);
  }
  .homeNewsUpdates {
    gap: var(--gap-base);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .newsUpdates {
    font-size: var(--font-size-9xl);
  }
  .homeNewsUpdates {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-21xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
  }
  .customSlider :global(.slick-track) {
    display: flex !important;
    gap: 0px;
    padding-bottom: var(--padding-13xl);
    padding-top: var(--padding-xl);
  }
}
