.container {
  padding: 100px;
  margin: 0 auto;
  max-width: 1166px;
}

.profileHeading {
  color: black;
  margin: 0px;
  margin-bottom: 32px;
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-27xl);
  font-weight: 600;
  line-height: 61.32px;
  text-align: center;
}

.bulletPointsHeading {
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-red);
  margin: 0px;
}

.lowerContainer {
  display: flex;
  flex-direction: column;
}

.tsrtcAtAGlanceText {
  color: black;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-16);
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  margin: 60px 0px 0px 0px;
}

.bulletPointsContainer {
  margin-top: 32px 0px 0px 0px;
}

.bulletpoints {
  margin: 0px;
  padding-left: 16px;
}

@media screen and (max-width: 1023px) {
  .container {
    margin: 20px;
    margin-top: 0;
    padding: unset;
    padding-top: var(--padding-5xl);
  }

  .profileHeading {
    font-size: var(--font-size-13xl);
    font-weight: 600;
  }
  .tsrtcAtAGlanceText{
    margin-top: 8px;
  }
}