.busDust,
.tsrtcLogoIcon {
  position: relative;
  object-fit: contain;
}
.busDust {
  width: 128px;
  height: 632px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 3;
}
.tsrtcLogoIcon {
  height: 70.4px;
  width: 70.4px;
}
.icon {
  width: 289.1px;
  height: 24.4px;
  position: relative;
}
.telanganaStateRoadTransport {
  align-self: stretch;
  height: 11.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tsrtcLogo,
.tsrtcLogo1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs-4);
  max-width: 100%;
}
.tsrtcLogo1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-9);
}
.tsrtcLogo {
  width: 504px;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.reservations {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.navTabs {
  border-bottom: 4px solid var(--primary-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0 var(--padding-11xs);
  color: var(--primary-red);
}
.reservations1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 95px;
}
.navTabs1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 65px;
}
.navTabs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
}
.navTabs3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.navTabs4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 59px;
}
.navTabs5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations6 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 123px;
  white-space: nowrap;
}
.navTabs6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.reservations7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.navTabs7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
}
.header,
.tabContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.tabContainer {
  width: 763px;
  justify-content: flex-start;
  gap: var(--gap-4xl-9);
}
.header {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  background-color: var(--support-white);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-11xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.rightToInformation {
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.introduction,
.introduction1,
.rightToInformation {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.introduction1 {
  padding-left: var(--padding-13xl);
}
.introduction {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 130px;
  max-width: 100%;
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.lineSeparatorIcon,
.textLinks {
  align-self: stretch;
  max-width: 100%;
}
.textLinks {
  background-color: var(--support-hover-state-green);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--primary-green);
}
.lineSeparatorIcon {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction2,
.particularsOfOrganizationF {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.particularsOfOrganizationF {
  padding-left: var(--padding-13xl);
}
.introduction2 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 448px;
  max-width: 100%;
}
.icons1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder1 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon1,
.textLinks1 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon1 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater1 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction3,
.powersAndDutiesOfItsOffi {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.powersAndDutiesOfItsOffi {
  padding-left: var(--padding-13xl);
}
.introduction3 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 431px;
  max-width: 100%;
}
.icons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder2 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon2,
.textLinks2 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon2 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater2 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction4,
.theProcedureFollowedInThe {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.theProcedureFollowedInThe {
  padding-left: var(--padding-13xl);
}
.introduction4 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder3 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon3,
.textLinks3 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon3 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater3 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction5,
.theNormsSetByItForTheDi {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.theNormsSetByItForTheDi {
  padding-left: var(--padding-13xl);
}
.introduction5 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 482px;
  max-width: 100%;
}
.icons4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder4 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon4,
.textLinks4 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon4 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater4 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theRulesRegulationsInstru {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction6 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder5 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon5,
.textLinks5 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon5 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater5 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction7,
.theStatementOfTheCategorie {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.theStatementOfTheCategorie {
  padding-left: var(--padding-13xl);
}
.introduction7 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder6 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon6,
.textLinks6 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon6 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater6 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theParticularsOfAnyArrange {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction8 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder7 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon7,
.textLinks7 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon7 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater7 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.aStatementOfTheBoardsCou {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction9 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder8 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon8,
.textLinks8 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon8 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater8 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theMonthlyRemunerationRecei {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction10 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder9 {
  height: 32px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineSeparatorIcon9,
.textLinks9 {
  align-self: stretch;
  max-width: 100%;
}
.textLinks9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.lineSeparatorIcon9 {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.lineSeparater9 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theBudgetAllocatedToEachO {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction11 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder10,
.textLinks10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder10 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks10 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon10 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater10 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theMannerOfTheExecutionOf {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction12 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder11,
.textLinks11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder11 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks11 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon11 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater11 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction13,
.theParticularsOfRecipients {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.theParticularsOfRecipients {
  padding-left: var(--padding-13xl);
}
.introduction13 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder12,
.textLinks12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder12 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks12 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon12 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater12 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction14,
.theDetailsInRespectOfThe {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.theDetailsInRespectOfThe {
  padding-left: var(--padding-13xl);
}
.introduction14 {
  height: 80px;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder13,
.textLinks13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder13 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks13 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon13 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater13 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.theParticularsOfFacilities {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction15 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder14,
.textLinks14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder14 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks14 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon14 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater14 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.listOfAsstPublicInformati {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.introduction16 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 706px;
  max-width: 100%;
}
.icons15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder15,
.textLinks15 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder15 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks15 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.lineSeparatorIcon15 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater15 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.3;
}
.introduction17,
.suchOtherInformationAsMay {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.suchOtherInformationAsMay {
  padding-left: var(--padding-13xl);
}
.introduction17 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 424px;
  max-width: 100%;
}
.icons16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconHolder16,
.textLinks16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconHolder16 {
  height: 32px;
  width: 24px;
  align-items: center;
}
.textLinks16 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.rtiActContainer,
.rtiLists {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--text-black);
  font-family: var(--font-playfair-display);
}
.rtiLists {
  width: 1166px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-5xl);
}
.rtiActContainer {
  align-self: stretch;
  background-color: var(--support-grey-bg);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-27xl);
}
.logo51Icon {
  height: 73px;
  width: 73px;
  position: relative;
  object-fit: cover;
}
.icon1 {
  width: 327.3px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.telanganaStateRoadTransport1 {
  align-self: stretch;
  height: 12.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo,
.logoTextGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.logoTextGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  min-width: 313px;
}
.logo {
  width: 568.6px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 568.6px;
}
.careers,
.quicklinks {
  position: relative;
  display: inline-block;
}
.quicklinks {
  letter-spacing: 0.02em;
  font-weight: 700;
  min-width: 81px;
}
.careers {
  min-width: 53px;
}
.siteMap {
  min-width: 62px;
}
.aboutUs,
.contactUs,
.siteMap {
  position: relative;
  display: inline-block;
}
.aboutUs {
  text-decoration: none;
  color: inherit;
  min-width: 66px;
}
.contactUs {
  min-width: 76px;
}
.footerLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.information {
  letter-spacing: 0.02em;
  font-weight: 700;
}
.information,
.rtiAct2005 {
  position: relative;
  display: inline-block;
  min-width: 91px;
}
.feedback,
.privacyPolicies,
.roadSafety {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.feedback,
.privacyPolicies {
  min-width: 107px;
}
.feedback {
  min-width: 69px;
}
.footerLinks2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.busPasses,
.faqs,
.reservations8 {
  position: relative;
  display: inline-block;
}
.faqs {
  letter-spacing: 0.02em;
  font-weight: 700;
  min-width: 40px;
}
.busPasses,
.reservations8 {
  min-width: 90px;
}
.busPasses {
  min-width: 78px;
}
.footerLinks3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.footerSection,
.linksContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.linksContainer {
  width: 378px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  min-width: 378px;
}
.footerSection {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lineSeparatorIcon16 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater16 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image462Icon,
.image474Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image474Icon {
  left: 30.9px;
  width: 130.1px;
  height: 46.9px;
  mix-blend-mode: hue;
  z-index: 1;
}
.recognition1 {
  height: 46.9px;
  flex: 1;
  position: relative;
  min-width: 105px;
}
.recognition2Icon {
  align-self: stretch;
  height: 33px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.recognition2Wrapper {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-9);
  box-sizing: border-box;
}
.recognitionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionContainerWrapper {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.followUsOn {
  position: relative;
  letter-spacing: 0.02em;
}
.socialMediaIcon1,
.socialMediaIcon2,
.socialMediaIcon3,
.socialMediaIcon4 {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  object-fit: cover;
  min-height: 28px;
}
.socialMedia,
.socialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.socialMedia {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 161px;
}
.downloadOurApp {
  position: relative;
  letter-spacing: 0.02em;
}
.appStoreIcon,
.googlePlayIcon {
  align-self: stretch;
  width: 90px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 30px;
}
.downloadPlartformContainer,
.downloadPlatform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.downloadPlartformContainer {
  flex-direction: column;
  gap: var(--gap-mini);
}
.recognitionAndSocialMediaC,
.socialMediaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.socialMediaContainer {
  width: 491px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionAndSocialMediaC {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.copyright2021Tgsrtc {
  position: relative;
  line-height: 21px;
}
.copyright2021TgsrtcAllRWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xs);
}
.footer,
.rtiAct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.rtiAct {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1275px) {
  .tabContainer {
    display: none;
  }
  .rtiActContainer {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .introduction10,
  .introduction11,
  .introduction12,
  .introduction13,
  .introduction14,
  .introduction15,
  .introduction16,
  .introduction4,
  .introduction6,
  .introduction7,
  .introduction8,
  .introduction9 {
    min-width: 100%;
  }
  .linksContainer,
  .logo {
    flex: 1;
  }
  .footerSection,
  .recognitionAndSocialMediaC {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .rightToInformation {
    font-size: var(--font-size-18xl);
  }
  .introduction17,
  .introduction2,
  .introduction3,
  .introduction5 {
    min-width: 100%;
  }
  .rtiActContainer {
    gap: var(--gap-base);
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .logo {
    flex-wrap: wrap;
  }
  .linksContainer,
  .logo {
    min-width: 100%;
  }
  .socialMediaContainer {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .footer {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .rightToInformation {
    font-size: var(--font-size-9xl);
  }
  .introduction,
  .introduction10,
  .introduction11,
  .introduction12,
  .introduction13,
  .introduction14,
  .introduction15,
  .introduction16,
  .introduction17,
  .introduction2,
  .introduction3,
  .introduction4,
  .introduction5,
  .introduction6,
  .introduction7,
  .introduction8,
  .introduction9 {
    font-size: var(--font-size-lgi);
    line-height: 32px;
  }
  .linksContainer,
  .recognitionContainer {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .footer {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
