.reservationHeroFaq {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frequentlyAskedQuestions {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.accordian,
.firstQuestion {
  display: flex;
  align-items: flex-start;
}
.accordian {
  align-self: stretch;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.firstQuestion {
  width: 1166px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian1 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian2,
.secondQuestion {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.accordian2 {
  flex: 1;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.secondQuestion {
  width: 1166px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
}
.note1 {
  font-weight: 600;
}
.noteThisFacilityContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.itemCell,
.note {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.itemCell {
  width: 1110px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mintcream-200);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.note {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.guidingPrinciplesOf {
  height: 27px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
}
.title {
  width: 315px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bulltetPointPlaceholder {
  height: 26px;
  width: 6px;
  position: relative;
}
.monthlySeasonTickets {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 718px;
  max-width: 100%;
}
.bulletPoint {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder1 {
  height: 26px;
  width: 6px;
  position: relative;
}
.monthlySeasonTickets1 {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 718px;
  max-width: 100%;
}
.bulletPoint1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder2,
.monthlySeasonTickets2 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets2 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint2 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder3,
.monthlySeasonTickets3 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets3 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint3 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder4,
.monthlySeasonTickets4 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets4 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint4 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder5,
.monthlySeasonTickets5 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets5 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint5 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder6,
.monthlySeasonTickets6 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets6 {
  height: 52px;
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint6 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder7,
.monthlySeasonTickets7 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets7 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint7 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder8,
.monthlySeasonTickets8 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets8 {
  height: 52px;
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint8 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder9,
.monthlySeasonTickets9 {
  height: 26px;
  width: 6px;
  position: relative;
  flex-shrink: 0;
}
.monthlySeasonTickets9 {
  width: 1104px;
  line-height: 26px;
  display: inline-block;
  max-width: 103%;
}
.bulletPoint9 {
  width: 1080px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder10 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets10 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint10 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder11 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets11 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint11 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder12 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets12 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint12 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder13 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets13 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint13 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder14 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets14 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint14 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder15 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets15 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint15 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder16 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets16 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint16 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder17 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets17 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint17 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder18 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets18 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint18 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulltetPointPlaceholder19 {
  height: 26px;
  width: 6px;
  position: relative;
  min-height: 26px;
  flex-shrink: 0;
}
.monthlySeasonTickets19 {
  height: 28px;
  width: 1104px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.bulletPoint19 {
  width: 1080px;
  height: 26px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.bulletPointContainer,
.bulletPoints {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.bulletPoints {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 102%;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--text-grey-body-text);
}
.bulletPointContainer {
  padding: 0 0 0 var(--padding-41xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
}
.bulletPointContainer,
.texts,
.ticketInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.texts {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.ticketInfo {
  width: 1166px;
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.accordian3 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am4 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian4 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am5 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian5 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian6 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg7 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am7 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian7 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg8 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am8 {
  width: 490px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 24px;
  position: relative;
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 44px);
  padding: 0;
  z-index: 1;
}
.accordianDropdowntrueIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.accordian8 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am9 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian9 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg10 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am10 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian10 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg11 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am11 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian11 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg12 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am12 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian12 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg13 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am13 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian13 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg14 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am14 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian14 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg15 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am15 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian15 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg16 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am16 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian16 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am17 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian17 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg18 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am18 {
  position: relative;
  line-height: 24.5px;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian18 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg19 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am19 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian19 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg20 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am20 {
  width: 377px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 24px;
  position: relative;
  color: var(--text-black);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 44px);
  padding: 0;
  z-index: 1;
}
.accordianDropdowntrueIcon19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.accordian20 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg21 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am21 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon20 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian21 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg22 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am22 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon21 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian22 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg23 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am23 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian23 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg24 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am24 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian24 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg25 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am25 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon24 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian25 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bg26 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.before6Am26 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.accordianDropdowntrueIcon25 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.accordian26,
.reservationFaqAccordians {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.accordian26 {
  width: 1166px;
  box-shadow: var(--table-shadow);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
}
.reservationFaqAccordians {
  align-self: stretch;
  background-color: var(--support-grey-bg);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-xl) var(--padding-81xl);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.logo51Icon {
  height: 73px;
  width: 73px;
  position: relative;
  object-fit: cover;
}
.icon {
  width: 327.3px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.telanganaStateRoadTransport {
  align-self: stretch;
  height: 12.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo,
.logoTextGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.logoTextGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  min-width: 313px;
}
.logo {
  width: 568.6px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 568.6px;
}
.quicklinks {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 81px;
}
.aboutUs,
.careers,
.contactUs,
.siteMap {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.aboutUs,
.contactUs,
.siteMap {
  min-width: 62px;
}
.aboutUs,
.contactUs {
  min-width: 66px;
}
.contactUs {
  min-width: 76px;
}
.footerLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.information {
  letter-spacing: 0.02em;
}
.information,
.rtiAct2005 {
  position: relative;
  display: inline-block;
  min-width: 91px;
}
.feedback,
.privacyPolicies,
.roadSafety {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.feedback,
.privacyPolicies {
  min-width: 107px;
}
.feedback {
  min-width: 69px;
}
.footerLinks2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.busPasses,
.faqs,
.reservations {
  position: relative;
  display: inline-block;
}
.faqs {
  letter-spacing: 0.02em;
  min-width: 40px;
}
.busPasses,
.reservations {
  min-width: 90px;
}
.busPasses {
  min-width: 78px;
}
.footerLinks3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.footerSection,
.linksContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.linksContainer {
  width: 378px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  min-width: 378px;
}
.footerSection {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lineSeparatorIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
}
.lineSeparater {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image462Icon,
.image474Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image474Icon {
  left: 30.9px;
  width: 130.1px;
  height: 46.9px;
  mix-blend-mode: hue;
  z-index: 1;
}
.recognition1 {
  height: 46.9px;
  flex: 1;
  position: relative;
  min-width: 105px;
}
.recognition2Icon {
  align-self: stretch;
  height: 33px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.recognition2Wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-6xs-9);
  background-color: transparent;
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
}
.recognitionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionAndSocial {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.followUsOn {
  position: relative;
  letter-spacing: 0.02em;
}
.socialMediaIcon1,
.socialMediaIcon2,
.socialMediaIcon3,
.socialMediaIcon4 {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  object-fit: cover;
  min-height: 28px;
}
.socialMedia,
.socialMediaHandles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.socialMedia {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 153px;
}
.downloadOurApp {
  position: relative;
  letter-spacing: 0.02em;
}
.appStoreIcon,
.googlePlayIcon {
  align-self: stretch;
  width: 90px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 30px;
}
.downloadPlartformContainer,
.downloadPlatform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.downloadPlartformContainer {
  flex-direction: column;
  gap: var(--gap-mini);
}
.recognitionAndSocialMediaC,
.socialMediaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.socialMediaContainer {
  width: 480px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.recognitionAndSocialMediaC {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyright2021Tsrtc {
  position: relative;
  line-height: 21px;
}
.copyright2021TsrtcAllRiWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  font-size: var(--font-size-xs);
}
.footer,
.reservationSpecialBusTiming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--support-white);
  font-family: var(--font-montserrat);
}
.reservationSpecialBusTiming {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .bulletPointContainer {
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
  .reservationFaqAccordians {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .monthlySeasonTickets,
  .monthlySeasonTickets1 {
    min-width: 100%;
  }
  .reservationFaqAccordians {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .linksContainer,
  .logo {
    flex: 1;
  }
  .footerSection,
  .recognitionAndSocialMediaC {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .firstQuestion {
    gap: var(--gap-base);
  }
  .reservationFaqAccordians {
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .logo {
    flex-wrap: wrap;
  }
  .linksContainer,
  .logo {
    min-width: 100%;
  }
  .socialMediaContainer {
    gap: var(--gap-6xl);
  }
  .footer {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .frequentlyAskedQuestions {
    font-size: var(--font-size-lgi);
  }
  .before6Am,
  .before6Am1,
  .before6Am2 {
    font-size: var(--font-size-base);
  }
  .guidingPrinciplesOf {
    font-size: var(--font-size-lg);
  }
  .before6Am10,
  .before6Am11,
  .before6Am12,
  .before6Am13,
  .before6Am14,
  .before6Am15,
  .before6Am16,
  .before6Am17,
  .before6Am18,
  .before6Am19,
  .before6Am20,
  .before6Am21,
  .before6Am22,
  .before6Am23,
  .before6Am24,
  .before6Am25,
  .before6Am26,
  .before6Am3,
  .before6Am4,
  .before6Am5,
  .before6Am6,
  .before6Am7,
  .before6Am8,
  .before6Am9 {
    font-size: var(--font-size-base);
  }
  .linksContainer,
  .recognitionContainer {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .socialMediaContainer {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
