.reservationHeroSpeacialBus {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.whichBusTimings {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.tabs1,
.text {
  min-width: 92px;
}
.text {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.tabs1 {
  flex: 1;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-3xl);
}
.text1 {
  position: relative;
  line-height: 26px;
}
.tabs2 {
  border-bottom: 4px solid var(--primary-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-57xl) var(--padding-lgi);
  color: var(--primary-red);
}
.text2 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.tabs3 {
  border-bottom: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-14xl) var(--padding-3xl);
}
.text3 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.tabs4 {
  border-bottom: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-14xl) var(--padding-3xl);
}
.tabs,
.topTabs {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.topTabs {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 20px;
  font-size: var(--font-size-base);
  color: var(--text-grey-body-text);
}
.tabs {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.blankLine,
.pushpakBusTimings,
.pushpakIsA {
  margin: 0;
}
.pushpakIsAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
}
.tableTitleParent,
.tabsAboutMuchintala {
  width: 1166px;
  align-items: flex-start;
  max-width: 100%;
}
.tabsAboutMuchintala {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.tableTitleParent {
  margin: 0;
  gap: var(--gap-13xl);
}
.reservationAirportPushpak,
.reservationSpecialBusTiming,
.tableTitleParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reservationAirportPushpak {
  align-self: stretch;
  background-color: var(--support-grey-bg);
  align-items: center;
  padding: var(--padding-61xl) var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
}
.reservationSpecialBusTiming {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .reservationAirportPushpak {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .tableTitleParent {
    gap: var(--gap-base);
  }
  .reservationAirportPushpak {
    gap: var(--gap-31xl);
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whichBusTimings {
    font-size: var(--font-size-lgi);
  }
  .tabs2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .reservationAirportPushpak {
    gap: var(--gap-6xl);
  }
}
