.paragraph {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.tableHeading {
  font-family: var(--font-playfair-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  margin: 0px;
  color: var(--primary-red);
}
.table {
  margin: 0px;
  margin-top: 16px;
}
.container {
  display: flex;
  flex-direction: column;
}
.table2Heading {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}
.TSRTCtext {
  font-family: var(--font-playfair-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 31.99px;
  text-align: left;
  color: #cd342b;
  margin: 0px;
}
.pushpakTimings {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #020202;
  margin: 0px;
}
.lowerContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
}
