.reservationHeroTourism {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: var(--support-grey-bg);
  min-height: 400px;
}

.bgIcon,
.bgIconMobile {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 100;
}

.bgIconMobile {
  display: none;
}

.contentWrapper {
  position: absolute;
  top: 7.3vw;
  left: 7.3vw;
  display: flex;
  flex-direction: column;
  width: 599px;
  z-index: 100;
}

.tgsrtcIsHappy,
.tourism {
  margin: 0;
  mix-blend-mode: normal;
}

.tourism {
  font-size: var(--font-size-53xl);
  line-height: 82px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  color: var(--color-whitesmoke-100);
}

.tgsrtcIsHappy {
  margin-top: 10px;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  color: var(--color-whitesmoke-100);
  max-width: 100%;
  width: 599px;
}

@media screen and (max-width: 1023px) {
  .contentWrapper {
    top: 15vw;
    left: 7.3vw;
  }

  .tourism {
    font-size: var(--font-size-42xl);
    line-height: 68px;
  }

  .tgsrtcIsHappy {
    width: 400px;
    font-size: var(--font-size-16);
    line-height: 28px;
  }
}

@media screen and (max-width: 720px) {
  .bgIcon {
    display: none;
  }

  .bgIconMobile {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .contentWrapper {
    top: 85.83vw;
    width: 237px;
    left: 6.6vw;
  }

  .tourism {
    font-size: var(--font-size-42xl);
    line-height: 56px;
  }

  .tgsrtcIsHappy {
    width: 237px;
    margin-top: 8px;
    font-size: var(--font-size-16);
    line-height: 26px;
  }
}