.cityServices {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.guidingPrinciplesOf {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
  font-size: var( --font-size-sm);
  font-style: var(--font-montserrat);
  padding-bottom: var(--padding-base);
}
.bulletPointChange{
  padding-top: 0px !important;
  padding-left: var(--padding-lg);
  margin: 0;
}
.cityServices,
.electricBuses {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.theFollowingFacilities {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
}
.cityServicesTypes {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xl);
}
.metroDeluxeCoach {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.metroDeluxeCoaches {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-family: var(--font-montserrat);
  color: var(--text-black);
}
.cityServicesTypes1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}
.metroLuxuryAc {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.metroDeluxe,
.metroLuxuryAc {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.picturesIcon {
  width: 100%;
  height: auto;
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.busBhavan,
.imagePlaceholder {
  position: relative;
  max-width: 100%;
}
.imagePlaceholder {
  border-radius: var(--br-3xs);
  overflow: hidden;
}
.busBhavan {
  align-self: stretch;
  width: 512px;
  line-height: 26px;
  display: none;
  mix-blend-mode: normal;
}
.imageText {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.frameIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.amTo0800 {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.calendar {
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pickupAlpha {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
}
.content1,
.pickup {
  display: flex;
  justify-content: flex-start;
}
.pickup {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.content1 {
  width: 278px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.birlaMandir,
.placesCovered {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.placesCovered {
  height: 26px;
  font-weight: 600;
  display: inline-block;
}
.birlaMandir {
  align-self: stretch;
}
.birlaMandirWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.golkonda {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.golkondaWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
}
.taramatiBaradari {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.taramatiBaradariWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.chowmahallaPalace {
  height: 26px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
}
.chowmahallaPalaceWrapper {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs);
  white-space: nowrap;
}
.durgamCheruvuPark {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.durgamCheruvuParkWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.cableBridge {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.cableBridgeWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.lumbiniPark {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.chips,
.lumbiniParkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lumbiniParkWrapper {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.chips {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
}
.packageTourWill {
  align-self: stretch;
  height: 104px;
  position: relative;
  line-height: 26px;
  color: var(--text-grey-body-text);
  display: inline-block;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.chipsParent,
.content2,
.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chipsParent,
.content2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.contents {
  width: 480px;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.applyNow {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
}
.button {
  width: 123px;
  height: 36px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-5xl) var(--padding-3xs);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  color: var(--support-white);
}
.contentsParent {
  width: 480px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-height: 428px;
  max-width: 100%;
  text-align: left;
  color: var(--text-black);
}
.imageCards,
.metroDeluxeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.imageCards {
  align-self: stretch;
  box-shadow: var(--card);
  border-radius: var(--br-base);
  background-color: var(--support-white);
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text-grey-body-text);
}
.metroDeluxeParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 340px;
}
.metroExpress {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  mix-blend-mode: normal;
}
.busBhavan1,
.imagePlaceholder1 {
  position: relative;
  max-width: 100%;
}
.frameIcon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.amTo08001 {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.calendar1 {
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameIcon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pickupAlpha1 {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
}
.content11,
.pickup1 {
  display: flex;
  justify-content: flex-start;
}
.pickup1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.content11 {
  width: 278px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.birlaMandir1,
.placesCovered1 {
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.placesCovered1 {
  height: 26px;
  font-weight: 600;
  display: inline-block;
}
.birlaMandir1 {
  align-self: stretch;
}
.birlaMandirContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.golkonda1 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.golkondaContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
}
.taramatiBaradari1 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.taramatiBaradariContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.chowmahallaPalace1 {
  height: 26px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
}
.chowmahallaPalaceContainer {
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs);
  white-space: nowrap;
}
.durgamCheruvuPark1 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.durgamCheruvuParkContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.cableBridge1 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.cableBridgeContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.lumbiniPark1 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  mix-blend-mode: normal;
}
.chips1,
.lumbiniParkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lumbiniParkContainer {
  height: 30px;
  border-radius: var(--br-80xl);
  background-color: var(--color-mintcream-300);
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.chips1 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
}
.packageTourWill1 {
  align-self: stretch;
  height: 104px;
  position: relative;
  line-height: 26px;
  color: var(--text-grey-body-text);
  display: inline-block;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.chipsGroup,
.content21,
.contents1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chipsGroup,
.content21 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.contents1 {
  width: 480px;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.applyNow1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
}
.button1 {
  width: 123px;
  height: 36px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-381xl);
  background: linear-gradient(90deg, #19ac58, #077f3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-5xl) var(--padding-3xs);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  color: var(--support-white);
}
.contentsGroup {
  width: 480px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-height: 428px;
  max-width: 100%;
  text-align: left;
  color: var(--text-black);
}
.imageCardsParent,
.metroExpressParent,
.metroTypes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.metroExpressParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 340px;
}
.imageCardsParent,
.metroTypes {
  align-self: stretch;
}
.metroTypes {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-black);
}
.imageCardsParent {
  flex-direction: column;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text-grey-body-text);
}
.metroLuxuryAcParent {
  gap: var(--gap-base);
}
.cityServicesParent,
.cityServicesSection,
.metroLuxuryAcParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cityServicesSection {
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  padding: var(--padding-19xl) var(--padding-20xl);
  gap: var(--gap-13xl);
  color: var(--text-black);
  font-family: var(--font-montserrat);
  margin-bottom: 80px;
}
.cityServicesParent {
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-red);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 1023px) {
  .cityServicesSection {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .metroDeluxeParent,
  .metroExpressParent {
    min-width: 100%;
  }
  .metroTypes {
    gap: var(--gap-xl);
  }
  
  .imageCardsParent,
  .cityServicesSection{
    gap: var(--gap-13xl);
  }
}

@media screen and (max-width: 599px) {
  .cityServices {
    font-size: var(--font-size-5xl);
  }
  .electricBuses {
    font-size: var(--font-size-lg);
  }
  .metroDeluxe,
  .metroDeluxeCoach,
  .metroExpress,
  .metroLuxuryAc {
    font-size: var(--font-size-base);
  }
  .imageCards{
    padding: var(--padding-5xs);
  }
  .cityServicesSection{
    padding: var(--padding-base);
    margin-bottom: 0;
  }
  .theFollowingFacilities{
    width: 105%;
  }
  .guidingPrinciplesOf{
    font-size: var(--font-size-base);
    padding-bottom: var(--padding-5xs);
  }
}
