.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.headingText {
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-27xl);
  font-weight: 600;
  line-height: 51.32px;
  text-align: left;
  margin: 0px;
}

.rowClass:hover {
  background-color: var(--color-whitesmoke);
}

.width {
  width: 400px;
}

.tableContainer {
  min-width: 786px;
}

@media screen and (max-width: 1280px) {
  .headingText {
    display: none;
  }

  .tableContainer {
    width: 100%;
    min-width: unset !important;
  }
}